[2012-03-17 21:40] dtorres opened #2 "[OSX] Battery Info crashes on AC Power"
If a battery is full or the computer is an iMac it crashes. (/lib/prey/plugins/providers/system/platform/mac/index.js)
The command returns "Currently drawing from 'AC Power'"

What approach should we use around this?

[2012-08-01 00:34] tomas opened #4 "Finish Windows's set/get delay functions."
This should mimic the behaviour of the [bash client](/prey/prey-bash-client/blob/master/platform/windows/functions), since we'll probably use the same Windows Service for calling the agent.

[2012-08-01 00:36] tomas opened #5 "Alarm: Add support for Windows."
On the bash client we use the mpg123.exe binary for playing the alarm sound. Should we put the binary into the repository?

[2012-08-01 00:38] tomas opened #6 "Lock: Add support for Windows."
This is as simple as making the prey-lock.exe (lock screen) and lockpolicy.exe (remove user switching option) binaries from the bash client work.

[2012-08-01 00:39] tomas opened #7 "Remote Desktop: Add Windows support."
In OSX we use the bundled VNC server and in Linux we use x11vnc -- which one should we use in Windows? Hopefully one with a compatible license so that we can distribute as part of the package.

[2012-08-01 00:41] tomas opened #8 "Remote Terminal: Add Windows support."
According to [this thread](http://serverfault.com/questions/8411/what-is-a-good-ssh-server-to-use-on-windows) on ServerFault, freeSSHd would do the trick.

[2012-08-01 00:43] tomas opened #9 "System provider: Finish get_battery_info for Windows."
It's not done yet.

[2012-08-01 00:44] tomas opened #10 "Network provider: Add Windows support."

[2012-08-01 00:44] tomas opened #11 "Hardware provider: Add Windows support."

[2012-08-01 00:45] tomas opened #12 "Screenshot provider: Add Windows support"

[2012-08-01 00:45] tomas opened #13 "Webcam provider: Add Windows support"

[2012-08-01 00:47] tomas opened #14 "Sound trigger: Add Linux support"
This should be easy as most of the code from bin/mac.py should work in Linux.

[2012-08-01 00:48] tomas opened #15 "Sound trigger: Add Windows support"
Still haven't investigated how we can make this work. We'll probably need to write something in C or C#.

[2012-08-01 00:49] tomas opened #16 "Motion trigger: Add Linux support"
Is there any way we can do this using Python?

[2012-08-01 00:49] tomas opened #17 "Motion trigger: Add Windows support"
Again, not sure how we can do this. Ideas are welcome.

[2013-01-23 00:21] #4 closed, assigned to nobody

[2013-01-23 00:21] #5 closed, assigned to nobody

[2013-01-23 00:21] #6 closed, assigned to nobody

[2013-01-23 00:21] #7 closed, assigned to nobody

[2013-01-23 00:21] #8 closed, assigned to nobody

[2013-01-23 00:21] #9 closed, assigned to nobody

[2013-01-23 00:21] #10 closed, assigned to nobody

[2013-01-23 00:21] #11 closed, assigned to nobody

[2013-01-23 00:21] #12 closed, assigned to nobody

[2013-01-23 00:21] #13 closed, assigned to nobody

[2013-01-23 00:21] #14 closed, assigned to nobody

[2013-01-23 00:21] #15 closed, assigned to nobody

[2013-01-23 00:21] #16 closed, assigned to nobody

[2013-01-23 00:21] #17 closed, assigned to nobody

[2013-02-05 02:32] swrobel opened #18 "npm install fails on Mountain Lion"
[code]

[2013-02-11 20:04] dtorres opened #20 "[Network Driver/Mac] Access Point Parsing fails"
# Issue

**FILE:** lib/agent/providers/network/mac.js
**FUNCTION:** parse_access_points_list

The parsing of access points fails if the SSID contains a "-" or ":" because of the way it's currently parsed.

specifically line 87:
`var start = line.split(/\s[0-9a-f]{2}[:]/); // split on MAC addr start`
# Cases:

**SSID:** `dd-wrt`
**SCAN OUTPUT:** `dd-wrt 00:00:00:00:00:00 -35  11      N  -- WEP`

**

[2013-02-25 21:18] #2 closed, assigned to nobody

[2013-03-14 14:12] #18 closed, assigned to nobody

[2013-03-14 17:05] swrobel opened #21 "Can't verify device"
Got past my install issues but now I can't verify my laptop. I've tried `sudo prey config check` and it says

[code]

Yet my account dashboard still says unverified.

[2013-03-22 17:06] josher19 opened #22 "TODO: Add auto-complete support for the Console driver."
I can help with the auto-complete. I've landed commits to improve the completer docs for Node and the REPL for LiveScript (a nice fork of CoffeeScript).

Are you just looking for auto-completing most of the commands listed under "help" when running

[code]

---

So, for example,

[code]

would expand to

[code]

and

[code]

would expand to

[code]

and so on.

[2013-04-19 18:28] #20 closed, assigned to nobody

[2013-06-13 13:51] PiercyM89 opened #24 "Default webcam camera"
Hello, I am new to this group opensource programming concept and was wondering if anyone has tackled an issue I am having.  I have a lenovo thinkpad 2 that I am trying to use prey with, the one issue I am having is that when prey goes to take a picture with the included webcam, it defaults to the camera on the back of the tablet and not the front.  This is also a Windows 8 tablet.

[2013-10-16 08:51] patlal opened #27 "Problem for finding the version of Prey in the windows registry"
Hello,

I am Patrice from allmyapps.com. We provide our users with an apps manager able to detect applications already installed on their PC and notify them if there is a new release available. We are able to do that by searching the windows registry (in places like HKEY_LOCAL_MACHINE\SOFTWARE\Microsoft\Windows\CurrentVersion\Uninstall for example). Unfortunately, Prey doesn't display any name or

[2013-10-21 22:29] #22 closed, assigned to nobody

[2013-12-08 20:15] YonatanAmir opened #28 "{ [Error: spawn ENOENT] code: 'ENOENT', errno: 'ENOENT', syscall: 'spawn' }"
Getting the above error when running the post-install script (also, you may want to update the readme, I can't find the unsafe-perm documentation in the provided link).

[2014-01-29 02:27] ABruihler opened #30 "Mac iSight Light Activates When Not Missing"
I have installed the new Prey version (this is posted in the right place, right?) on my 13-inch, Mid 2009 MacBook Pro running OS X Lion 10.7.5.  I have tested it by marking it as missing on the Control Panel and verifying that reports work (with photos enabled and showing in the reports).  The iSight camera lights turns on when taking the photo, as I expect.

But after I have unmarked my computer

[2014-03-11 13:46] JonnyTech opened #31 "Install fails on linux"
I'm getting the error "Error: Cannot find module '/usr/lib/agent/cli.js'" when installing Prey.

[code]

Linux Mint 16 x64.

Any suggestions?

[2014-03-19 01:25] frankfhurter007 opened #32 "Beta: Only Able to See Reports if Device is Missing..."
If the device is not set to missing, I am unable to see any stored reports that Prey has gathered.

[2014-03-19 01:30] frankfhurter007 opened #33 "Beta: Reports Sorted Oldest to Newest"
The beta displays reports from oldest to newest, which makes for a really inconvenient amount of side scrolling. Would prefer to have the ability to toggle between sorting reports O --> N or N --> O. Barring that, it seems logical that most users would be most interested in whatever the latest report is, so making them scroll to get to it isn't the most optimal UX.

[2014-03-19 03:15] frankfhurter007 opened #34 "Beta: Status Messages Cover Link"
Status messages cover the '<n> Reports Gathered' link. Since it takes a few seconds for the message to fade, it makes the link un-clickable until it does. Better UX would be to place either the stats message, or the link elsewhere.
![screen shot 2014-03-18 at 8 10 51 pm](https://f.cloud.github.com/assets/6993425/2456311/b3e9e088-af14-11e3-8dfb-a47ff95bf54a.png)

[2014-04-17 13:39] HyShai opened #35 "npm failing to find post script file windows"
I tried this using the unsafe-perm flag, same error occured

[code]

[2014-04-21 16:03] mhalano opened #36 "Main distros repository"
I think it is a good idea create repositories for main distros (Debian/Ubuntu and Fedora/Red Hat). This idea is to allow auto-update via apt and yum.

[2014-05-21 17:38] reedog117 opened #37 "1.1.3 continuously crashes and restarts every 5 seconds on Mac"
Seems like there's an uncaught exception when I try to run Prey on my Mac running OS X 10.9.3.

I'm guessing it tries to spawn and then dies right away with error code 1.  However, the preyproject.com web interface just shows that Prey is reporting without any issues.

I'm noticing this happens both at work where there's a firewall that doesn't allow mapping external ports, and at home where I do

[2014-05-26 17:55] #37 closed, assigned to nobody

[2014-06-22 16:47] rabisuz opened #38 "Push commands to client are not validated"
In the Prey control panel, I noticed a configuration option called 'ciphered instructions'. After looking through the code, I realized this option does not actually do anything. The lack of any security<sup>1</sup>, combined with the fact that the client runs a plain HTTP server, permits anyone to issue commands to the client. Obviously, running a HTTPS server on the client does not work, so eithe

[2014-09-21 20:49] CharlesButcher opened #40 "1.1.5 continuously crashes and restarts every 5 seconds on Mac"
Sincere apologies if I'm out of date here, but 1.1.5 is giving me just the same issues as described in [#37](https://github.com/prey/prey-node-client/issues/37).

[code]

Prey.log is not very informative. All it says is:

[code]

This is on an ancient Mac mini (early 2009, Intel Core Duo, OS 10.9.5). I also have Prey 1.1.5 on a Mac mini 2011 and it's working fine.

`sudo bin/prey config upgrade` i

[2014-09-23 00:33] #35 closed, assigned to nobody

[2014-09-23 00:34] #34 closed, assigned to nobody

[2014-09-23 00:34] #33 closed, assigned to nobody

[2014-09-23 00:35] #32 closed, assigned to nobody

[2014-09-23 00:37] #31 closed, assigned to nobody

[2014-09-23 00:38] #28 closed, assigned to nobody

[2014-09-23 00:39] #27 closed, assigned to nobody

[2014-09-23 00:40] #24 closed, assigned to nobody

[2014-09-23 00:42] #21 closed, assigned to nobody

[2014-09-23 00:59] #30 closed, assigned to nobody

[2014-09-25 10:02] giacmir opened #42 "dmidecode not found in debian"
When installing prey 1.1.4 from deb it goes well until when it asks for account credentials. After clicking "apply" and a bit of thinking, I get an error

"EXCEPTION! not found: dmidecode".

and device is not added to control panel.

dmidecode command is available on my system in /sbin

[2014-09-25 21:17] sergiobenrocha2 opened #43 "Hold on! problem in Ubuntu"
Hello,

I'm trying to register my machine using Ubuntu 14.04 64 bits (it is already registered in the Windows 8 side, it's dual boot), package deb 1.2.4, and i'm getting this problem when I enter with my account and password:

Hold on!
at /usr/lib/prey/versions/1.2.4/node_modules/getset/lib/backends/file.js:66:20

![prey error](https://cloud.githubusercontent.com/assets/5431285/4412471/6030de58-44

[2014-09-29 15:52] ghost opened #44 "Not working on Fedora 20"
Hi there,

Installing Prey 1.2.5 on fedora 20 (3.16.3-200) via npm is not working. Depencies are installed, running "npm install -g prey" produces the following error:

usr/bin/prey -> /usr/lib/node_modules/prey/bin/prey

Creating user prey...
prey user already exists!
Giving prey user passwordless sudo priviledges...
Creating config dir: /etc/prey
Touching log file: /var/log/prey.log
Setting perm

[2014-10-04 16:38] ninovolador opened #45 "Can't use prey on Manjaro Linux"
Hi, and sorry the bad english
Downloaded the prey node client 1.2.7 version via NPM. First GUI doesn't open, so i chose CLI option. When i configure my account:
[code]
Then i start prey:
[code]

I think prey  doesn't recognize manjarolinux distro. Please make it so!! :pray:

[2014-10-13 16:38] #44 closed, assigned to nobody

[2014-10-20 21:02] jarias opened #47 "Can't start GUI on Mac OS X 10.10 Yosemite"
[code]

[2014-10-20 21:04] jarias opened #48 "Message not shown on OS X 10.10 Yosemite"
I trigger a message from the web interface but it didn't show up, looking at the logs the command was trigger but for some reason didn't execute.

From the logs:

[code]

[2014-10-23 20:55] #42 closed, assigned to nobody

[2014-10-23 20:57] #43 closed, assigned to nobody

[2014-10-23 20:58] #47 closed, assigned to nobody

[2014-11-01 01:35] jarias opened #49 "Installing Mac PKG via the terminal fails"
`> installer -pkg prey-mac-1.2.10-x64.pkg -target /`

[code]

How should I provide the API key?

[2014-11-18 18:38] #49 closed, assigned to nobody

[2014-12-02 18:34] #48 closed, assigned to nobody

[2014-12-06 20:50] Piratmac opened #51 "Install fails on Fedora 20 via npm"
Hello,

I have tried installing prey through "npm -g install prey" on a brand new installation of Fedora 20 (uname -r gives 3.17.4-200.fc20.x86_64.)
I get a sery of error messages, and the program doesn't get installed.

Could you look into this issue?

Thanks!
Piratmac

Please find below the end of the log:

[code]

[2014-12-10 18:17] ghost opened #52 "Exit Code 1073741502 for preyshot.exe (HS:node-screenshot-bug)"
[code]

[2014-12-10 19:06] ghost opened #53 "OS X: "Device protected" after install. No setup GUI is launched. Device is not registered (HS:node-no-gui-bug)"
`sudo /usr/lib/prey/current/bin/prey config gui` needs to be launched manually. Currently affecting Prey 1.3.3 on OS X 10.10.

[2014-12-10 19:23] ghost opened #54 "OS X: GUI last "Next" step after entering credentials does nothing (HS:node-gui-finish-bug)"
Configurator won't finish. Since it won't save changes, devices are not added to Prey accounts.

![prey where it freezes](https://cloud.githubusercontent.com/assets/401279/5382351/249f7154-8088-11e4-9307-21b6cff4a0a9.png)

[2014-12-11 23:29] ghost opened #56 "Actions don't run on Prey 1.3.3 for Windows (HS:node-actions-bug)"
Actions are pushed from the user's Prey account, but are not run on the Windows machine. Here's the log.

[code]

Once the user runs `C:\Windows\Prey\current\bin\prey -a` as an admin on the command prompt, actions work fine. Here's the log for that.

[code]

Actions won't run once the system is restarted.

[2014-12-15 15:02] fanuneza opened #57 "Missing "Advanced options" don't persist after system reboot (HS:advanced-missing-reboot)"
![screenshot 2014-12-15 11 03 55](https://cloud.githubusercontent.com/assets/401279/5436919/597613d6-844a-11e4-8dc8-b58dbee628aa.png)

The options work fine, but since they're not saved on the servers they stop after a system reboot. They should persist.

[2014-12-15 21:45] ghost opened #58 "Error 1603 when installing Prey node.js on Windows (HS:node-1603)"
Several users have reported errors during the installation of Prey for Windows. The `prey-install.log` file located in the `temp` folder outputs this on every case:

**v1.3.2 on Windows 8.1**

[code]

---

[According to Microsoft](https://support.microsoft.com/kb/834484),

This is not the case for any of the affected users. It also affects Windows 7, both in the 64 and 32 bits versions.

[2014-12-16 20:18] ghost opened #59 "Actions don't run on Prey 1.3.3 for Windows (HS:node-actions-bug)"
`Message` and `Lock` actions aren't run on some Windows machines. Still trying to find a pattern. For now it's only happened on Windows 7. Windows 8 and 8.1 seem to be working fine. The `prey.log` files look fine, and instructions are received by the client, but for reason are not run. Is there a way to troubleshoot this?

Here's an example log.

[code]

[2014-12-16 20:25] #59 closed, assigned to tomas

[2014-12-16 21:56] fanuneza opened #60 "Prey client requires too much network resources (HS:node-busy-network)"
According to a user:

---------------

Is that expected?

[2014-12-17 12:39] #40 closed, assigned to nobody

[2014-12-29 15:11] #54 closed, assigned to tomas

[2014-12-29 16:31] #56 closed, assigned to tomas

[2014-12-29 16:31] #52 closed, assigned to cyaconi

[2014-12-29 16:31] #53 closed, assigned to tomas

[2015-01-03 09:41] ninovolador commented on #45
Today an email was sent to me, about my notebook being registered on Prey.

:) I supose this bug is fixed, thank you very much!!!!

[2015-01-03 09:41] #45 closed

[2015-01-05 01:03] Dominiquini opened #61 "Actions don't run on Prey 1.3.5 for Linux"
Actions are pushed from the user's Prey account, but are not run on the Linux (Ubuntu Precise) machine. Here's the log:

  PREY 1.3.5 spreads its wings!
  Current time: Sun Jan 04 2015 22:56:45 GMT-0200 (BRST)
  Running with PID 30287 as prey over Node.js v0.10.32 on a x64 linux system (3.8.10-gnu-1-generic)

     info Mon, 05 Jan 2015 00:56:46 GMT [triggers] Watching: connection, network, power

[2015-01-05 12:33] boris commented on #61
Hi @Dominiquini, could you please try with another action, suck as Alarm and pase the output of your `/var/log/prey.log` file? You should hear a not-so-nice sound. This is to try to isolate the problem.

Thanks.

[2015-01-05 19:59] mauricioschneider commented on #61
Hello @Dominiquini,

Thanks for your report. We were able to reproduce the issue and are currently working on a fix.

[2015-01-06 15:42] mauriciooo commented on #61
@Dominiquini version 1.3.6 will take care of this. It should be released today.

[2015-01-07 21:27] jristz opened #63 "prey config gui not work"
Packag prey-node-client 1.3.2
OS: Arch Linux
Filesystem: btrfs
Package installed
[code]
Prey LOG
[code]
Journalctl -b | grep prey
[code]
Network Interface
[code]
Something more?

[2015-01-07 21:32] jristz opened #64 "Webpage in português"
Not sure if this is the correct place to report but I set the wepage of prey when you are login set someparts (many) to portuguese and other to english, leaving maybe 3 or 4 string in standard spainsh.

If the page have a transifex I can join and finish the translation (to standard spanisha dn latinamerican spanish) I'm coordinator and tranlator for Xfce, translator for bitbucker and Archlinux AUR

[2015-01-07 21:34] mauriciooo commented on #63
Hello @jristz,

Could you please try to replicate the issue with the latest version of Prey which can be [downloaded here](https://preyproject.com/download)?

If you can replicate it, is there any particular output being written in the terminal when running `bin/prey config gui` ?

[2015-01-07 21:41] mauriciooo commented on #64
Hello @jristz,

Thanks for your feedback. We are indeed aware of the issue and we are working on it.

We appreciate your interest in helping us with the translations. Currently we are not crowdsourcing or outsourcing the translation process, as it's something our communications team handles personally.

[2015-01-07 21:43] mauriciooo commented on #64
BTW, since this is related to our webpage, I'm going to close this.

[2015-01-07 21:43] #64 closed

[2015-01-07 21:59] jristz commented on #63
Yea, same simprtom same computer, same all, I update the package to 1.3.5 but all is the same.
[code]
no utput before that, and all the other outputs are the same as my first post

[2015-01-07 22:03] mauriciooo commented on #63
@jristz could you please run `cd /usr/lb/prey/current && lib/conf/gui/linux/prey-config.py` and paste the output here?

Also, what version of python is installed in your computer? (`python --version`)

[2015-01-07 22:10] jristz commented on #63
Python
[code]
Python2
[code]
Since Arch have pythonpointing to python3 from aroun 2010

and  <lib/conf/gui/linux/prey-config.py> keep in mind as I post I have prey in opt... so
[code]
and root show the same error.
but as I post gtk2 2.24.25-1 and gtk3 3.14.6-1 are installed and pygtk is installed too pygtk 2.24.0-5

[2015-01-07 22:12] mauriciooo commented on #63
and what happens if you explicitly run `/opt/prey-node-client/lib/conf/gui/linux/prey-config.py` using the python2 binary?

[2015-01-07 22:15] jristz commented on #63
[code]
Work, but is not supposed that any python program need to point to the version in the shebang #/usr/bin/python2 as the python guidelines in the python page show/ask/suggest?

[2015-01-07 22:32] mauriciooo commented on #63
Thanks, we we're not aware of the PEP 394 (which is the guidelines doc you point out, it seems). We will look into the issue to make sure we comply with the recommendations.

[2015-01-07 22:39] jristz commented on #63
Thanks, I will wait the next release, and by the way arch have bash in /usr/bin so I thing could be a good idea point the shevang to the /usr/bin/env bash if in the future Arch (or Fedora) drop the simlinks bin -> usr/bin

And even if now I can run the config this not solve the original issue of bin/prey, but thanks anyway

[2015-01-07 23:10] mauriciooo commented on #63
@jristz do you mean you keep getting `Not configured. Waiting for user input...` even after configuring Prey via gui?

[2015-01-07 23:13] jristz commented on #63
I mean that bin/prey not work but lib/prey-config.py work

[2015-01-07 23:21] mauriciooo commented on #63
Oh, you mean running the configurator with `bin/prey config gui`. Yes, in distros such Arch, where `python ~> python3` it won't work in the current state. As I said above, we will look into the issue :).

In the meanwhile, running `prey-config.py` using Python2 is a nice workaround, and we'll make sure to document it in our [help center](https://help.preyproject.com/articles) while we find the bes

[2015-01-07 23:33] jristz commented on #63
ok then I will wait happy the fix to test it :)

[2015-01-08 14:27] mattlyons0 opened #65 "[linux] prey user is not added to required groups on non-debian distros"
EDIT: This started as a completely different issue and I slowly resolved it by traversing the source code. Now the only issue is using the webcam.

Prey fails to map its port and seems to have issues connecting as a result of that.

    PREY 1.3.5 spreads its wings!
  Current time: Thu Jan 08 2015 08:55:50 GMT-0600 (CST)
  Running with PID 2721 as prey over Node.js v0.10.35 on a x64 linux system (

[2015-01-08 15:41] camilaburgos opened #66 "No Prey package for Slitaz distribution of Linux"
##### According to a user:

new device:

as enum when in fact it is of type 'GFlags'

as enum when in fact it is of type 'GFlags'

as enum when in fact it is of type 'GFlags'
Connection error. Response from server:

[2015-01-08 15:51] mauriciooo commented on #65
Hello @mattlyons0, thanks for your report.

Even though `[control-panel] Unable to map port: Could not locate gateway on time.` is stated as an error, it's more of a warning. It means Prey was unable to use upnp to connect with our servers. When this happens, Prey changes to interval mode, meaning that every certain amount of time (30 seconds by default) it will try to retrieve instructions from o

[2015-01-08 15:53] mauriciooo commented on #58
@fanuneza have you received any extra reports related to this issue or was it v1.3.2 specific?

[2015-01-08 15:54] mattlyons0 commented on #65
Actually the error with the gateway was due to not being able to locate a user since I didnt have the ssh client installed. Currently the only issue is prey using the webcam when the device is missing. I can't figure out the exact command that is being issued to streamer but the error is the following in the log:

    error Thu, 08 Jan 2015 15:41:30 GMT [reports] Unable to get picture: Command fai

[2015-01-08 16:00] mauriciooo commented on #65
The extension being passed to the call_streamer function is `.jpeg`.

`v4l2: open /dev/video0: Permission denied`: I have the suspicion that the `prey` user might not have the required permissions to use video. Could you please check if the `prey` user has access to the `video` group?

Also, are you running Arch Linux?

[2015-01-08 16:03] mattlyons0 commented on #65
Yes. That is actually what I was just looking into. I was wondering if xawtv added its own group but then I stumbled upon the video group.

[2015-01-08 17:02] mauriciooo commented on #65
@mattlyons0 Thanks for the feedback. The permissions issue might be related with the PR #50. Is adduser available in Arch?

[2015-01-08 18:34] mattlyons0 commented on #65
Nope, "gpasswd --add USERNAME GROUP" is how you add groups to a user.

[2015-01-08 18:48] lemavri commented on #65
Thanks. We are already thinking of using any of the options provided by the `shadow` package such as `gpasswd` or `usermod` to make sure Prey works with the rest of the distros that are not debian-based.

[2015-01-08 20:35] fanuneza commented on #58
It's still happening. This log was sent by a user 14 minutes ago:

[code]

[2015-01-08 21:31] camilaburgos opened #67 "Retina iMac 27" recognized as MacBook by Prey"
##### According to a user:

###### Device:

Retina iMac 27"
i5 processor
290 graphics

[2015-01-08 21:35] #67 closed

[2015-01-09 18:41] fanuneza opened #68 "Lost focus on the lock screen's text input can't be regained on dual-monitor settings on Windows"
## Problem

Prey 1.3.5 properly locks the computer's screen, even on dual-monitor settings. But if you click on the secondary monitor, you can no longer enter your Prey password on the main screen.

![screenshot 2015-01-09 15 31 25](https://cloud.githubusercontent.com/assets/401279/5685088/ba0602b8-9815-11e4-80d8-b88bdb7d7288.png)

The only way to unlock the computer is to force a system restart.

[2015-01-10 00:08] shackra opened #69 "Error running command: spawn EACCES"
There is an error when running the `sudo prey config hooks post_install` command, there is what I do for installing the Prey client:

[code]

Running on Parabola GNU/Linux-libre.

[2015-01-10 00:12] lemavri commented on #69
Hello,

Can you please check who's the owner and what are the permissions of the `/usr/lib/node_modules/prey/bin` path?

[2015-01-10 00:16] shackra commented on #69
Sure:

[code]

[2015-01-10 01:41] lemavri commented on #69
What about the permissions for `/usr/lib/node_modules/`. Probably the `prey` user doesn't have enough permissions in some directory of the path.

[2015-01-10 01:43] lemavri commented on #66
This issue is being handle via helpscout. I will update it with further information later.

[2015-01-10 04:47] shackra commented on #69
[code]

[2015-01-10 18:01] lemavri commented on #69
If you impersonate the `prey` user by running `sudo su prey`, can you navigate all the way to the prey directory (`/usr/lib/node_modules/prey/bin`)?

[2015-01-11 20:30] shackra commented on #69
yes!:

[code]

This is so odd!

[2015-01-12 12:53] lemavri commented on #69
Odd indeed. Since last week I've been trying to get my hands in Parabola GNU/Linux to run some tests but the page seems to be down and I can't find an alternative mirror. Do you know where can I get it?

[2015-01-13 03:57] shackra commented on #69
You can try with Arch Linux, don't worry.

And yes, both files are owned by `prey` user

[2015-01-13 13:20] fanuneza opened #70 "Prey 1.3.5 won't lock a dual-monitor setup (HS:node-dual-lock)"
## Problem

Prey 1.3.5 won't lock both screens on Windows 8.1. I haven't been able to reproduce the bug, though.

## How it was detected.

It was reported by a customer, who [even recorded a video](https://prey.slack.com/files/fabian/F03BNL795/prey_ext_display_lock_test.mp4).

![vlcsnap-2015-01-13-10h16m59s74](https://cloud.githubusercontent.com/assets/401279/5721224/ad74e64a-9b0d-11e4-90c9-3a0f54

[2015-01-13 17:09] tomas commented on #70
We need more info about the guy's setup in order to reproduce the bug. Otherwise we won't be able to tell when we actually get it fixed.

[2015-01-13 18:25] fanuneza commented on #70
Absolutely. I already asked the customer, and will update the issue as soon as he gets back to me.

[2015-01-13 19:04] fanuneza commented on #70
Just added the system hardware to the issue.

[2015-01-13 21:25] #61 closed

[2015-01-13 22:15] lemavri commented on #69
Can you please give a try to the [latest release](https://github.com/prey/prey-node-client/releases/tag/v1.3.6)? We did some modifications concerning permissions. npm should be up to date tomorrow.

[2015-01-14 02:25] shackra commented on #69
The issue remains!:

[code]

[2015-01-14 20:15] erikw opened #71 "Location not found because iwlist can not run properly"
Version: prey-node-client 1.3.6
OS: Arch Linux

The reports from my device would not include the location as it could not be fetched. Running $(prey -r "get location") on the device worked however. It seems to be a problem with running iwlist using sudo as systemctl reports

[code]

If I change `/etc/sudoers.d/50_prey_switcher` to include iwlist

[code]

the location will be included in the report

[2015-01-14 20:30] erikw opened #72 "flash.py does not work on arch linux"
Version: prey-node-client 1.3.6
OS: Arch Linux

Currently the feature of sending messages to a Arch Linux laptop does not work. This is because
/opt/prey-node-client/lib/agent/actions/alert/linux/flash.py is a python2 script but in arch the binary "python" is a symlink to python3.

[2015-01-14 20:36] erikw opened #73 "Sounding alarm does not work in Linux; pulseaudio problem"
Version: prey-node-client 1.3.6
OS: Arch Linux

Sounding an alarm on my Arch Linux laptop from the prey control panel does not work. Pulseaudio is already running for my user account, does prey tries to start it again? It should detect the already running instance I guess.

[code]

[2015-01-14 20:47] lemavri commented on #72
Hello @erikw,

Thanks for reporting the issue. We are aware of the python2/python3 issue in Arch Linux since it was exposed in https://github.com/prey/prey-node-client/issues/63. I'm currently downloading said distribution to try to deal with this and other issues.

[2015-01-14 20:49] erikw commented on #72
Alright cool! :)

[2015-01-15 07:56] erikw commented on #72
Also, a wonder. What's up with the wried header in the sh-python files?
[code]
Wouldn't a simple env in the shebang do it?

[code]

[2015-01-15 12:55] lemavri commented on #69
I'm currently installing Arch Linux to run some tests. Hopefully I'll be posting updates soon :)

[2015-01-15 13:07] lemavri commented on #72
Thanks @erikw for your feedback. Most likely 1.3.8 will address most of them (that's because 1.3.7 it's already on the way).

[2015-01-15 13:37] tomas commented on #72
That wried shebang attempts to locate the correct python path in order to execute the script. Normally a /usr/bin/env python should do it, but there are cases in which there's a local python (e.g. installed via homebrew) that does not contain the required modules for the script to run.

[2015-01-16 00:13] solsticedhiver opened #74 "login shell of prey user in ubuntu package better be /bin/false or /usr/sbin/nlogin"
hi
in ubuntu package from prey site, a prey user and a prey group is created when the package is installed
but the login shell of the prey user is /bin/bash:

    $ grep prey /etc/passwd
    prey:x:999:999::/home/prey:/bin/bash

as a security measure, it could be better to use **/bin/false** or **/usr/sbin/nologin**
As I understand, *prey daemon* does not need a login shell (?)

[2015-01-16 17:19] lemavri commented on #74
Hi @solsticedhiver, thanks for your feedback!

[2015-01-20 14:39] fanuneza opened #75 "OS X's com.prey.agent.plist slows system shutdowns (HS:plist)"
## Problem

According to a user,

The stable version was 1.3.4 at the time.

## How it was detected

User report.

## Suggested solution

Reduce the shutdown time, or confirm that the problem isn't caused by Prey.

## References

- https://secure.helpscout.net/conversation/63272644/10986/

[2015-01-20 14:49] tomas commented on #75
20 is the default ExitTimeout for all OSX daemons. From the [original documentation](https://developer.apple.com/library/mac/documentation/Darwin/Reference/ManPages/man5/launchd.plist.5.html):

[code]

So, basically, something's preventing a clean shutdown which causes `launchd` to wait 20 seconds before killing the process by force. I suspect that this may be related to 19607b8a374572c0795ad80a7e

[2015-01-21 15:59] logankoester commented on #58
I'm seeing this as well. Same result with install location of `C:\Prey` and `C:\Windows\Prey`. Windows 8.1.

#### prey-windows-1.3.6-x64.exe

[code]

[2015-01-22 15:17] fanuneza commented on #75
Version 1.3.6 fixed the issue. I'll you know in case I get anything new.

[2015-01-22 15:17] #75 closed

[2015-01-22 15:57] tomas commented on #75
Bravo.

[2015-01-26 23:10] fanuneza commented on #58
I'm not sure, but this could be caused by changing the default `C:\Windows\Prey` installation path. Users are still reporting it, by the way.

[2015-01-26 23:13] logankoester commented on #58
I ran into this both with the default path and with a different one @fanuneza

[2015-01-26 23:39] fanuneza commented on #58
Crap. This bug is the most difficult to replicate that I've seen on Prey. We're still trying to figure out what's wrong 😐

[2015-01-27 00:05] logankoester commented on #58
Well, I have a machine with the issue if you have any theories you'd like me to try.

[2015-01-27 09:26] cookieofbliss commented on #51
Still doesn't work on Fedora 21 3.17.8-300.fc21.x86_64

--
Ensuring presence of config dir: /etc/prey
Syncing /etc/prey/prey.conf with /usr/lib/node_modules/prey/prey.conf.default
No versions support.
Setting permissions on /usr/lib/node_modules/prey
Running post_activate hooks...
Voila! All good.
--
Installing init scripts.
EXCEPTION! object is not a function
TypeError: object is not a function

[2015-01-27 12:17] lemavri commented on #51
Thanks for your report @cookieofbliss, we'll look into it.

[2015-01-27 16:48] blackjid opened #76 "Error: Cannot find module 'satan'"
Any idea? I cannot install prey on OSX (yosemite). It fails with this..

[code]

[2015-01-27 20:22] fanuneza opened #77 "Actions don't persist after system restart (HS:actions-persistence)"
## Problem

[Version 1.3.6](https://github.com/prey/prey-node-client/releases/tag/v1.3.6) introduced persistence for triggered actions even when machines are shut down. This is specially useful for *Lock*. For now it's broken.

Here's the log after system restart.

[code]

My machine runs Windows 8.1 64 bits, by the way. The customer's computer is a MacBook Air running OS X Yosemite 10.10.

## How

[2015-01-28 02:13] lemavri commented on #76
According to the log it seems there was an error fetching the `minstache` package. Have you tried to install prey once again? If you did and the problem persist, can you please manually run `npm install satan` and let me know how it goes?

[2015-01-28 21:11] camilaburgos opened #78 "Volume doesn't raise automatically when user triggers the alarm and the computer is muted (HS:alarm-volume-bug)"
## Problem

When a Windows 7 laptop is muted and the user triggers the Alarm action, it will be started, but the volume won't be raised automatically, the computer will stay muted.

## How it was detected

A free user reported it.

## Suggestions

To add the feature so Prey can raise the volume automatically when the device is muted and therefore, the alarm fulfills its purpose.

## Resources

- h

[2015-01-30 06:46] midend commented on #69
I'm encountering the same issue, also on Arch Linux.  The installation fails at the same point as above, and the prey user owns all the directories mentioned.

[2015-01-30 15:59] lemavri commented on #76
I will close the issue. Please, if you stumble into the problem again, don't hesitate to re-open it.

[2015-01-30 15:59] #76 closed

[2015-01-30 16:49] PeteCress commented on #58
I have a log from my most recent attempt on a TW700 where I took all the defaults, including the install path (C:\Windows\Prey) @fanuneza

I have to wonder if there is some commonality in the devices the install is failing on.   TW700 looks to me like it is running some non-standard install of Windows 8.1 - but I don't know enough to say anything more... except that they cram it into quite a small

[2015-01-30 17:58] fanuneza commented on #58
Thanks for the log, @PeteCress! For testing purposes, can you install [Prey 0.6.4](https://preyproject.com/releases/0.6.4/)?

[2015-01-30 18:31] blackjid commented on #76
Hey @lemavri I think you were right. Probably was a connection problem, I tried again after a few hours, and it worked fine.

[2015-01-30 18:33] lemavri commented on #76
Cool. Thanks for reporting back :)

[2015-01-30 18:36] blackjid opened #79 "fs: missing callback Error: ENOENT, unlink '/etc/prey/prey.conf'"
After installing prey with `npm install -g prey` on my MBP osx 10.10, tried to configure it but I'm getting this...any idea?
[code]

I also tried with sudo.

[2015-01-30 18:39] lemavri commented on #79
You have to run it with ´sudo´:  ´sudo prey config account setup´, since the regular user doesn't have permissions to write the config file.

[2015-01-30 18:48] blackjid commented on #79
I tried with sudo... I get the same error...

[2015-01-30 18:53] lemavri commented on #79
Weird. For OS X I recommend you using [our installer](https://github.com/prey/prey-node-client/releases/download/v1.3.6/prey-mac-1.3.6-x64.pkg).

[2015-01-30 18:55] blackjid commented on #79
Ok, I got it...
I installed prey without sudo, because I'm running nodenv and a don't wont node packages installed with sudo....

But I miss a message that sais that as I was running with an unprivileged user, I should run a script `sudo prey config hooks post_install`

After that I can run `sudo prey config account setup` and it seams to be working fine now.

[2015-01-30 18:55] #79 closed

[2015-01-30 18:55] blackjid commented on #79
What's the difference between installing with npm and with the pkg installer?

[2015-01-30 19:16] lemavri commented on #79
The installer allows to have multiple versions of Prey installer, while the npm package won't. Also, the pkg installer is a more straightforward process.

[2015-01-30 20:40] PeteCress commented on #58
Done.   Install went a-ok, threw a couple of "Problems..." dialogs when connecting to my Prey account, but eventually connected.

I used prey-0.6.4-win.exe, and installed to D:\Prey - because C: is low on space.

You want C:, I will uninstall and reinstall to C:.

Only .log file I could find was empty, or I would post it.

[2015-01-30 21:04] PeteCress commented on #58
It has not been an hour yet... but I did re-boot and my suspicion is that Prey is either not running for, for some reason, is not connecting to the server.

What should I look for to confirm that Prey is running?   Processes?   Services?   Something else.

[2015-01-31 05:34] shackra commented on #69
Happy of not feeling alone with this issue!

midend writes:

--
Pax et bonum.
Jorge Araya Navarro.
ES: Diseñador Publicitario, Programador Python y colaborador en Parabola GNU/Linux-libre
EN: Ads Designer, Python programmer and contributor Parabola GNU/Linux-libre
EO: Anonco grafikisto, Pitino programalingvo programisto kai kontribuanto en Parabola GNU/Linux-libre
https://es.gravatar.com/shackra

[2015-02-03 19:55] fanuneza commented on #77
Any news about this, guys? @lemavri?

[2015-02-03 20:08] lemavri commented on #77
I'll take a look.

[2015-02-03 21:08] lemavri opened #81 "Stops sending reports if server answers with status 503. (HS:reports-503)"
## Problem
Currently, when the client sends the report and gets a 503 response from the server, it stops the generation of further reports. After this, the only way for the client to start sending reports again is for the user to mark the device as recovered and then as missing again, or if the client/device is restarted.

## Log
[code]

## Suggested solution

A few solutions (not exclusive) might

[2015-02-05 14:54] camilaburgos opened #82 "Prey leaves the files from the previous versions behind after autoupdating (HS:previous-versions-files)"
## Problem

Folders of the old versions of Prey aren't automatically erased and use the space available in the Prey folder. If a customer/user wants to delete them, it has to be manually.

![delete previous files from previous versions of prey](https://cloud.githubusercontent.com/assets/10212992/6062230/d66d1474-ad2c-11e4-9fac-a9028d97b827.jpg)

## How it was detected

A free user reported it.

##

[2015-02-06 01:23] erikburd commented on #58
I have the same problem with the 1.3.6 installer, Windows 7 x64. I installed the 0.6.4 version and it works like a champ. I checked my devices on the web page and it came up.

[2015-02-06 13:28] fanuneza commented on #58
@logankoester @PeteCress @erikburd Could you please try [these instructions for unattended installs](http://docs.preyproject.com/article/107-how-to-mass-deploy-prey-for-windows)? First the same EXE you're already trying, and if that fails, please try the MSI installers [available here](/prey/prey-node-client/releases/tag/v1.3.6). Do any of those methods work?

Thanks!

[2015-02-06 15:06] erikburd commented on #58
I already tried the x86 and x64 MSI and EXE installers for 1.3.6 and they bombed. Same problem. I'll try the unattended install later and let you know.

[2015-02-08 20:26] erikburd commented on #58
Tried the unattended install, still fails with the same error.

[2015-02-09 19:21] fanuneza commented on #60
More feedback for this one.

![qwsrjue](https://cloud.githubusercontent.com/assets/401279/6113627/88cccc20-b077-11e4-8003-cc967587a45c.png)

[2015-02-09 19:27] tomas commented on #60
This is caused because the PC is failing to perform the UPnP or NAT-PMP mapping. I would suggest the user to enable port mapping on his or her router. The long polling strategy we're currently testing should also decrease significantly the number of requests per minute on non mapped scenarios.

@lemavri We'd probably need to replace the `setInterval` call in `plugins/control-panel/interval` for a

[2015-02-09 19:32] fanuneza commented on #60
I thought so, and replied accordingly. Simple math: Check-ins every 30 seconds mean 172,800 pings a day.

[2015-02-10 11:49] henshin commented on #58
I was having this problem while attempting to install it in c:\program files\prey but then tried to install it on c:\windows\prey and it worked fine...
Maybe it's related to the space on the directory name?

[2015-02-10 12:49] erikburd commented on #58
Interesting - now that you mention that the old version was installed to C:\Prey (default) while the new one was installed elsewhere. I'll try that later. The space shouldn't be throwing it off but then again who knows?

[2015-02-10 18:33] fanuneza commented on #81
:+1: to this issue. Thanks for taking care of it, @lemavri.

[2015-02-10 18:35] lemavri commented on #81
@fanuneza this has been fixed by 4dea26ada9df825b82a94b88316f6efe2607b596 and will be available in v1.3.7

[2015-02-10 20:11] lemavri commented on #58
According to [the Microsoft support website](http://support.microsoft.com/kb/834484/en), these are the reasons why you might receive the error.

- The drive that contains the folder that you are trying to install the Windows Installer package to is accessed as a substitute drive.
- The SYSTEM account does not have Full Control permissions on the folder that you are trying to install the Windows In

[2015-02-10 20:37] erikburd commented on #58
@lemavri - none of those three apply on my system. Good thinking though. I'm trying something else here on my end. Will report soon.

[2015-02-10 20:51] lemavri commented on #58
Doing some "googling" I found that the error code 1603 is quite generic and can mean a lot of things, like:

- Short file name creation is disabled on the target machine.
- A file is locked and cannot be overwritten.
- The Microsoft Windows Installer Service is not installed correctly.
- The Windows Temp folders are full.
- The setup was corrupted after installation and, therefore, fails with this

[2015-02-10 21:17] erikburd commented on #58
Here's something amusing. I used the 1.3.6 x64 MSI installer. The "default" folder is C:\Windows\Prey. I changed it to "C:\Prey", which was the previous default.

Good news - now the installer runs just fine and finishes without any errors
Bad news - however I noticed the following:
1) No configuration dialog appears so I can't do anything to set up the system
2) I noticed a "prey.conf" and "prey.

[2015-02-11 02:57] fanuneza commented on #58
Terrific feedback, @erikburd! Hopefully @lemavri will get something from it. For now:

1. That's expected with the MSI installer. To launch the configurator open a command prompt with admin privileges and run `C:\Prey\current\bin\prey config gui -f` (I understand that you installed Prey into `C:\Prey`).
2. Those files remain after an uninstall. I imagine that the failed installer created them.
3.

[2015-02-11 06:21] erikburd commented on #58
For #2 - those files were installed with the 1.3.6 installer. Before I did the install, I made sure that I cleaned everything out, rebooted, and double checked that no existing files were there.

As for #1 and #3 - that's fine. I'm just used to the old 0.6.4 installer. :)

[2015-02-11 14:30] #38 closed

[2015-02-11 14:33] lemavri commented on #58
@erikburd Regarding to item 2, prey.conf is always stored under c:\Windows\Prey.

[2015-02-11 14:41] lemavri commented on #57
The status is now persisted in the panel, and since the client syncs with the server on boot, the missing status gets activated correctly after rebooting the device.

[2015-02-11 14:41] #57 closed

[2015-02-11 16:46] erikburd commented on #58
@lemavri - thank you for clarifying item 2.

[2015-02-11 19:19] fanuneza commented on #58
@erikburd @lemavri Even I didn't know that. Thanks!

I've noticed this happens a lot to Russian versions of Windows. I'm not saying that it only happens to them, but maybe the character set has something to do?

[2015-02-11 19:57] lemavri commented on #77
@fanuneza Does this happen when forcing shutdown or under regular reboots/shutdown?

[2015-02-11 20:03] fanuneza commented on #77
I guess it's forced shut down.

![one does not simply](https://cloud.githubusercontent.com/assets/401279/6155168/dc5e70f2-b20f-11e4-8e3c-c077ff1a3b19.jpg)

[2015-02-11 20:25] lemavri commented on #77
@fanuneza unless #70. Also, other actions besides lock can also be persisted. i.e.: alert.

[2015-02-11 20:26] fanuneza commented on #77
I understand that alarm is a run-once instruction, isn't it?

[2015-02-11 20:26] lemavri commented on #77
Alarm is, alert is not.

[2015-02-11 20:28] fanuneza commented on #77
You're right. *Alarm*, *alert*...

![moss-brilliant](https://cloud.githubusercontent.com/assets/401279/6155610/68152a0c-b213-11e4-9c36-d615340a578d.gif)

[2015-02-11 22:06] erikburd commented on #58
I don't think it's the character set. I'm using US English for the OS and language settings. Nothing special there. I wonder if the space in "Program Files" that's throwing it off?

[2015-02-13 19:56] #81 closed

[2015-02-16 17:09] fanuneza commented on #57
@lemavri: Is this already deployed or is it to-be-fixed on 1.3.7?

[2015-02-18 15:47] fanuneza commented on #77
Any news about this one, @lemavri?

[2015-02-18 15:49] lemavri commented on #77
Not yet. It's one of the first bug I'll focus once I start fixing things.

[2015-02-18 16:01] fanuneza commented on #77
Is there an ETA for that?

[2015-02-20 05:15] shackra commented on #69
any news on this?

[2015-02-24 13:51] nieldk commented on #45
Please add the Jolla phone, It works quite well if I fake Debian release. But spits out wrong OS by default:
{~]$ lsb_release -ri
Distributor ID: Mer
Release:        0.2011

[2015-02-24 17:20] m0schneider opened #84 "Win8.1 64bit- Getting strange Error while installing"
---- ACTION DETAILS ----

Action Performed:
1. Download "prey-windows-1.3.7pre-x64.exe" and install the same in Win8.1
2. Login in with existing user.
3. Reinstall the same again. The system will ask to remove the existng software and install latest version. Press Yes.
4. Login in with existing user.
5. Observe.

Expected Result:
Logged in and shows the progress.

Actual Result:
Getting unknown er

[2015-02-24 17:20] lemavri opened #85 "Windows XP SP3 32 bit - Not able to finish installation configuration as Existing user"
---- ACTION DETAILS ----

Action Performed:
1. Go to https://panel.preyproject.com/signup and create a new user profile;
2. Download Prey installation file v.1.3.7. for Windows XP 32;
3. Run the installation file of the file v.1.3.7;
4. When prompted by Prey Configurator to choose between installation as New User or Existing User, check Existing User and push Next button;
5. Fill in the fields wit

[2015-02-24 17:20] lemavri opened #86 "Win 8.1 X64 - 'Get Location' fails on installed desktop, identified as laptop"
---- ACTION DETAILS ----

Action Performed:
1.  Install prey-windows-1.3.7pre-x64.exe with administrator access
2.  When asked, install app in default location.  Click to continue.
3.  App is installed, register with credentials Elroy/synchronizedtester@gmail.com/test1234
4.  Email confirmation is received.  Follow instructions:  To get its current location or start triggering actions please log i

[2015-02-24 17:20] lemavri opened #87 "Win 8.1 X64 - App is able to be uninstalled, no helpfull information for connected devices."
---- ACTION DETAILS ----

Action Performed:
1.  App is installed in default configuration.  Credentials for access are  Elroy/synchronizedtester@gmail.com/test1234
2.  Web configuration is assigned as https://panel.preyproject.com/devices/ef1bcd
3.  Tap each device and tap the gear icon,
4.  uninstall each device including desktop
5.  Close web site
7.  Open the directory on your main system C:\Wi

[2015-02-24 17:20] lemavri opened #88 "Windows XP SP3 32 bit - Not able to finish installation configuration as New User"
---- ACTION DETAILS ----

Action Performed:
1. Download and run the installation file v.1.3.7. for Windows XP 32;
2. Wait until you are prompted to create New User;
3. Click on Create New User and on Next button;
4. Fill in the fields: Your name, Email address, Password, Confirm Password;
5. Observe the error message.

Expected Result:
Should create a new user profile and finish the Prey installat

[2015-02-24 17:20] lemavri opened #89 "[Ubuntu 12.04 LTS] Alarm volume follows the settings of the device instead of being loud"
---- ACTION DETAILS ----

Action Performed:
Prerequisites: desktop agent 1.3.7-rc2 to be installed on the laptop, user to be logged in to the page https://panel.preyproject.com from another PC to perform actions
1. send alarm from the PC to the laptop while laptop's speaker is muted (no sound will be heard)
2. send alarm from the PC to the laptop while laptop's speaker is set to low (the volume he

[2015-02-24 17:20] lemavri opened #90 "Win 8.1 X64 - Install will fail if installed in other than default location"
---- ACTION DETAILS ----

Action Performed:
1.  Install prey-windows-1.3.7pre-x64.exe with administrator access
2.  When asked, install app in C:\Program Files.  Click to continue.

Expected Result:
App will continue to install in C:\Program Files\Prey without issue or delay.

Actual Result:
First time try, app failed to install (bug 1372723).  I tried a second time soon after the first, again in

[2015-02-24 17:20] lemavri opened #91 "[Windows 7 64-bit] Installation process: When user tries to install the app he will see an error."
---- ACTION DETAILS ----

Action Performed:
1. Download and launch the "prey-windows-1.3.7pre-x64.exe" app
2. Leave the default installation location or choose any other location
3. Click on install button

Expected Result:
When user clicks on the  install button - the app will be installed correctly

Actual Result:
When user clicks on the  install button - the app will give an error in a process

[2015-02-26 18:19] camilaburgos opened #92 ""Unable to get active_access_point: TODO!" message in the prey.log file (HS:unable-to-get-access-point)"
## Problem

This message appears sometimes in the log file, when the client or user doesn't get the geolocation in the reports after marking a device as "missing". There's no explanation for this yet. The client is connected to a Wi-Fi network and the photos and screenshots are arriving without problems. Maybe there is a program blocking the geo feature.

![unable to get active access point error]

[2015-02-26 18:22] fanuneza commented on #92
This affects oh so many people.

[2015-02-26 18:31] tomas commented on #92
It does. But only users of [older versions of Windows](https://github.com/prey/prey-node-client/blob/master/lib/agent/providers/network/windows.js#L31-L46) (os.release < 6.0).

[2015-02-26 18:35] fanuneza commented on #92
@tomas: Is this related to the `Unable to get location: No access points found.` message when Wi-Fi is enabled, and HTML5-location services such as Google Maps can successfully locate devices?

[2015-02-26 18:40] tomas commented on #92
Nopey. Getting the **active** access point is a different thing from the full list. If you look at the source code from the link in the previous comment (line 61), you'll see that access points list is covered for all Windows versions.

It may be ocurring, though, that the commands that `get_access_points_list` depends on to get the list may be failing. But a totally different story.

[2015-02-26 18:46] fanuneza commented on #92
Alright, then. Thanks. But regarding this issue, does it mean that we don't support Windows Vista and older?

[2015-02-26 18:50] tomas commented on #92
Vista (6.0) should work. It's the older ones that are not currently supported. I'm +1 to fix this for XP/2000 even though Microsoft deprecated them officially, but I don't think it should be considered critical. Getting the full access points list works and so does geolocation.

[2015-02-26 19:06] fanuneza commented on #92
The problem is that it doesn't. Location is terribly inaccurate, that's the source of the issue.

[2015-02-27 13:54] lemavri commented on #89
Duplicate of #78

[2015-02-27 13:54] #89 closed

[2015-03-03 00:31] VictorAdrian commented on #69
Hello! I have the same problem, I'm using Slackware current) =

[2015-03-03 00:39] shackra commented on #69
And nothing new about this issue, right?

VictorAdrian writes:

--
Pax et bonum.
Jorge Araya Navarro.
ES: Diseñador Publicitario, Programador Python y colaborador en Parabola GNU/Linux-libre
EN: Ads Designer, Python programmer and contributor Parabola GNU/Linux-libre
EO: Anonco grafikisto, Pitino programalingvo programisto kai kontribuanto en Parabola GNU/Linux-libre
https://es.gravatar.com/shackr

[2015-03-03 12:31] nieldk opened #94 "Please add distro to known OS's"
Please add the Jolla phone, It works quite well if I fake Debian release. But spits out wrong OS by default:
{~]$ lsb_release -ri
Distributor ID: Mer
Release: 0.2011

[2015-03-03 13:05] lemavri commented on #94
Hello @nieldk,

Not long ago we were contacted by the Jolla phone guys because they were porting our Android app to Sailfish OS. Does the Jolla phone has some sort of app store? If so, have you checked in there for the Prey app?

[2015-03-03 13:13] nieldk commented on #94
I am aware that Jolla is working on a solution for antitheft. Possibly Prey. It is ~ a year ago I first started working on Prey for the Jolla phone. At the same time one of the Jolla engineers announced they were also working on a solution (not which) one.
Since then, I have had a somewhat working implementation pushed (to openrepos.net) that another community member helpe by creating a GUI for (a

[2015-03-03 13:57] lemavri commented on #94
It's great to know you're working on using Prey as a native anti-theft solution, we really appreciate it. I'll forward the request to our web panel developers and let you know as soon as the support for Mer has been added.

[2015-03-03 14:00] nieldk commented on #94
Thanks. I (and I am sure many more) appreciate that.

[2015-03-03 16:01] fanuneza commented on #81
This issue is seriously, seriously critical. We have at least four customers with stolen computers that don't report, probably because of this.

This was fixed three weeks ago but still hasn't been deployed :neutral_face:

[2015-03-04 13:34] fanuneza opened #95 "Devices don't report location; can't find access points even though Wi-Fi is on"
## Problem

Some devices, including but not limited to Microsoft Surface Pro 3 tablets, can't report a location with the new Prey client. Bash client 0.6.4 reports fine. These are the log errors:

    error Mon, 19 Jan 2015 14:46:00 GMT [reports] Unable to get location: No access points found.
    error Mon, 19 Jan 2015 14:46:00 GMT [reports] Unable to get access_points_list: No access points foun

[2015-03-04 15:56] fanuneza commented on #94
@lemavri: We need to manage this better. There's no use in having to add each distro as they're reported.

Anything not listed should just be saved as "Linux." I can't see any problem with this approach. What do you think, @michelson?

[2015-03-04 15:59] lemavri commented on #94
@fanuneza I agree on a more advanced and automatic way of handling this, but I think this should be discussed in the proper repo.

[2015-03-04 16:07] michelson commented on #94
Hola @fanuneza

This issue is scheduled to be fixed tomorrow, and is at the top of the queue :)

best

[2015-03-04 16:09] fanuneza commented on #94
That's great news! Thanks, @michelson.

@lemavri: Absolutely. I just wanted @nieldk to know the status of the problem, and that's beyond Mer and Jolla :)

[2015-03-04 21:54] camilaburgos commented on #92
Windows 7 and Windows 8.1 users are reporting this issue too.

[2015-03-05 08:28] nieldk commented on #94
Thanks all of You.
This is indeed great news.

I can say one member of our community forum for Maemo and SailfishOS
already had two devices stolen..... If he had ony had this solution, I
believe he would have had a much better time :)

Best Regards
Niel

On Wed, Mar 4, 2015 at 5:09 PM, Fabián Núñez <notifications@github.com>
wrote:

[2015-03-05 20:21] camilaburgos commented on #95
The log file of a OS X user is showing up the same issue.

- https://secure.helpscout.net/conversation/74887296/15430/

[2015-03-06 16:59] lemavri commented on #94
@nieldk, this was fixed a couple of minutes ago. Could you please verify if it's working and let us know how it goes? Thanks in advance!

[2015-03-06 18:56] nieldk commented on #94
Super.
I will do some testing the next days.

Thanks once more guys

Niel
On Mar 6, 2015 5:59 PM, "Mauricio Schneider" <notifications@github.com>
wrote:

[2015-03-07 20:12] nieldk commented on #94
Just wanted to let you know.
First tests going well.
Device registers.
Service starts
location working
Report when missing sends: location, hw info, network info (ip and wifi)

Next steps

Packaging

Then make alerts, screenshots, camera - not necessarily in that order :)

Thanks again guys

/Niel
On Mar 6, 2015 5:59 PM, "Mauricio Schneider" <notifications@github.com>
wrote:

[2015-03-09 13:37] fanuneza commented on #70
Is there any information that you need, or any testing that the customer can do?

[2015-03-09 13:44] lemavri commented on #70
The hardware information you added gives us a clue on how to reproduce the issue (HDMI + VGA).

Are there more users reporting this?

[2015-03-09 13:46] fanuneza commented on #70
No. A single customer is affected.

[2015-03-09 19:21] camilaburgos commented on #77
Is there any news regarding this bug @lemavri ?

[2015-03-09 19:30] lemavri commented on #77
Last friday we were not able to reproduce the issue, testing in two different laptops with Windows 8.1. I'll give it another try after I'm done with the release of v1.3.7.

[2015-03-09 19:59] lemavri commented on #77
Actually, I correct myself. We were able to reproduce the issue in @fanuneza laptop. I've also identified two different issues related to this, that I'll document ASAP.

[2015-03-09 20:07] lemavri opened #97 "Actions do not persist after forcing reboot twice."
## Problem

Actions do not persist after forcing reboot twice.

## How to reproduce

- Send a lock instruction from the panel
- Wait for the device to receive and execute the instruction
- Force reboot
- Log into the OS, wait for Prey to load instruction from the local db file
- Force reboot
- Log into the OS, device won't get locked again.

## How it was detected

Investigating #77

## Suggestion

[2015-03-10 13:25] fanuneza commented on #70
By the way, the customer said that he'd be glad to test in case you need that.

[2015-03-11 12:21] #74 closed

[2015-03-11 15:33] lemavri commented on #78
The issue was not fixed. The commit was reverted because of license issues with the nircmd binary.

[2015-03-11 16:08] camilaburgos opened #98 "Prey doesn't take pictures with more than one camera on Windows devices (HS:dual-camera-pictures)"
## Problem

Prey is not coded to handle multiple webcams on Windows and on laptops it will default to the primary camera. This is affecting different Windows devices, but Surface Pro 3 clients and users mainly.

## How it was detected

Some clients and users have reported it.

## Suggestions

Implement the feature of handling multiple webcams on this kind of devices.

## Resources

- https://secur

[2015-03-11 18:31] scrilan commented on #58
Is there any solution to fix the bug?
I had this trouble about half a year ago trying to install prey on win 8.1 x64.
And now it's another turn to install it, and yet another fault.

[2015-03-11 18:36] erikburd commented on #58
@scrilan - I hope someone is working on it. I'm using the old client until there's a fix for this problem, which is unfortunate because I like what Prey does.

[2015-03-11 20:16] carlosperalta88 opened #99 "Can't get device location"
Client 1.3.7 can't get device location.

The log:

    info Wed, 11 Mar 2015 20:10:53 GMT [triggers] Watching: connection, network, power
    info Wed, 11 Mar 2015 20:10:53 GMT [actions] Starting trigger: connection
    info Wed, 11 Mar 2015 20:10:53 GMT [actions] Running: connection
    info Wed, 11 Mar 2015 20:10:53 GMT [actions] Starting trigger: network
    info Wed, 11 Mar 2015 20:10:53 GMT [

[2015-03-11 20:55] fanuneza commented on #99
Also failed for me a while ago. A different error, though.

    warn Wed, 11 Mar 2015 20:46:15 GMT [control-panel] Got 1 commands.
    error Wed, 11 Mar 2015 20:46:17 GMT Error: getaddrinfo EAGAIN

And then it worked, like ten minutes later.

    warn Wed, 11 Mar 2015 20:53:40 GMT [control-panel] Got 1 commands.
    info Wed, 11 Mar 2015 20:53:40 GMT [reports] Gathering status report.
    info Wed

[2015-03-12 13:58] hantwister opened #100 "Mac OS X prompts user to allow/deny incoming connections for node"
Hi all,

On a Mac OS X 10.10.2 system with the firewall enabled, I am prompted to allow or deny incoming connections for node upon every update (when Prey's version number, and thus path to the file, changes). Is it possible for the update process to grant a firewall exception to new versions so the user is not asked questions they may not understand?

[2015-03-12 18:50] fanuneza commented on #100
This was just reported by a customer. @lemavri, the 1.3.7 auto-update triggered more things than what we expected, huh?

Thanks for reporting, @hantwister. The team will take a look ASAP.

[2015-03-12 23:32] lemavri commented on #100
@hantwister This happens when the Prey client uses uPnP to connect to our servers.

If, by any chance, the user denies the connection, Prey will fallback to the usual connection by interval method, still working properly. While I know the firewall message might be shocking for regular users, there's no much we can do in our end. Actually, if you have a firewall enabled, you'd expect it to warn you

[2015-03-13 01:39] lemavri commented on #100
On the other hand, we could add the proper rules to ipfw or pf (depending on the version of OS X) to avoid the gray screen of connection denial. I'll re-open the issue while I run my investigation :+1:

[2015-03-16 19:03] camilaburgos commented on #70
A new customer is being affected by this issue.

- https://secure.helpscout.net/conversation/78122248/16566/

[2015-03-17 13:37] lemavri opened #101 "When getter.commands fails, stops scheduling requests."
This was reported by @tomas yesterday.

In [interval/index.js](https://github.com/prey/prey-node-client/blob/master/lib/agent/plugins/control-panel/interval/index.js#L35-L50), if `getter.commands` fails for any reason, then the cb is returned and `schedule_request` is never reached, hence, stopping the requests scheduling.

[2015-03-17 15:16] lemavri commented on #97
According my investigation, for some reason the second time the `commands.db` file exists but is filled with spaces.

[2015-03-18 13:23] lemavri opened #102 "Add method used to get location when sending location data to panel"

[2015-03-19 00:33] paytonq opened #104 "Enable laptop webcam if disabled"
Reports do not take webcam pictures if the webcam has been disabled (at least on linux).  This is a feature request to have prey make sure that the webcam is enabled before taking pictures.

[2015-03-19 19:39] lemavri commented on #104
Thanks for your report, @paytonq, we'll look into the issue.

[2015-03-19 21:17] shackra commented on #45
Man, this bug is ridiculous, you know how many GNU/Linux distros there exists, right?

In any case:

[code]

[2015-03-19 21:29] lemavri commented on #45
@shackra This is actually not a bug, but a feature. We offer official support for the most widely used distros, and add other distros on a on-demand basis. You can expect Parabola GNU/Linux to be added by tomorrow.

[2015-03-19 21:52] shackra commented on #45
Well, thank you.

Instead of `Error! Invalid os:  does not exist.` something more verbose should
be put in place thought

--
Pax et bonum.
Jorge Araya Navarro.
ES: Diseñador Publicitario, Programador Python y colaborador en Parabola
GNU/Linux-libre
EN: Ads Designer, Python programmer and contributor Parabola GNU/Linux-libre
EO: Anonco grafikisto, Pitino programalingvo programisto kai kontribuanto

[2015-03-19 22:27] lemavri commented on #45
Thanks, I agree with your suggestion. I'll make sure to replace the message.
On Mar 19, 2015 6:52 PM, "Jorge Araya Navarro" <notifications@github.com>
wrote:

[2015-03-20 12:55] #101 closed

[2015-03-20 12:55] #102 closed

[2015-03-21 23:24] shackra commented on #45
@lemavri Parabola GNU/Linux isn't added, I still getting the error.

[2015-03-21 23:25] shackra opened #105 "please add Parabola GNU/Linux to your OS list"
[code]

[2015-03-22 07:45] fcole90 commented on #69
I have the same problem. The funny thing is that if I try to impersonate prey and then I run

prey spawn EACCESS

the command works correctly, so probably the error message is misleading or is not acting as user prey.

[2015-03-23 12:28] lemavri commented on #45
@shackra I'm sorry for the delay. I'll fix it today.

[2015-03-23 12:54] lemavri commented on #105
The distro has been added. Could you please check if it's working now and let me know how this goes? Thanks.

[2015-03-23 13:01] lemavri opened #106 "Add installation ID in config file."
Description soon.

[2015-03-23 20:56] lemavri opened #107 "[ Win 8.1 Pro, Chrome] : " Alarm Sound " time is less than the mentioned."
View your issue at Applause Testing Services - https://my.applause.com/u/a#!&view=issues&subview=issues&productId=9794&bugId=1426561

---- ACTION DETAILS ----

Action Performed:
1. Navigate to URL https://panel.preyproject.com
2. Login with a valid credentials ( I've created my own)
2. Go to your device.
3. Click on the "Sound alarm "
4. New window will open
5. Select any sound & notice the time o

[2015-03-23 20:56] m0schneider opened #108 "[Windows 10]-Password entering-Using 15 and more digits in lock password leads to error in PC client"
View your issue at Applause Testing Services - https://my.applause.com/u/a#!&view=issues&subview=issues&productId=9794&bugId=1422431

---- ACTION DETAILS ----

Action Performed:
1. Install the Prey app and login with listed PRO credentials
2. Go to https://panel.preyproject.com/ website and login with same credentials
3. Click on Lock Device button on the website and fill any 15 characters (e.g.:

[2015-03-23 20:56] lemavri opened #109 "[Win 10]-Unlocking device-A user can unlock his device if he clicks on sign out button"
View your issue at Applause Testing Services - https://my.applause.com/u/a#!&view=issues&subview=issues&productId=9794&bugId=1423264

---- ACTION DETAILS ----

Action Performed:
1. Install the Prey app and login with listed PRO credentials
2. Go to https://panel.preyproject.com/ website and login with same credentials
3. Click on Lock Device button and lock your PC with any password - your PC is l

[2015-03-23 20:56] lemavri opened #110 "[Win 10]-Unlocking-Using '1','0' or '_' for password in prey panel - leads to an error in client"
View your issue at Applause Testing Services - https://my.applause.com/u/a#!&view=issues&subview=issues&productId=9794&bugId=1423463

---- ACTION DETAILS ----

Action Performed:
1. Install the Prey app and login with listed PRO credentials
2. Go to https://panel.preyproject.com/ website and login with same credentials
3. Click on Lock Device button and lock your PC with '1' or '_' (space) password

[2015-03-23 20:56] lemavri opened #111 "[Win 10]-Send message-If a user sent Cyrillic characters from the panel, the client will receive '?'"
View your issue at Applause Testing Services - https://my.applause.com/u/a#!&view=issues&subview=issues&productId=9794&bugId=1422462

---- ACTION DETAILS ----

Action Performed:
1. Install the Prey app and login with listed PRO credentials
2. Go to https://panel.preyproject.com/ website and login with same credentials
3. Click on Send Message button and write any Cyrillic characters
4. Click on Co

[2015-03-23 20:56] lemavri opened #112 "[Win 10]-Message-If a user writes a message in a column, whole message will not be shown in client"
View your issue at Applause Testing Services - https://my.applause.com/u/a#!&view=issues&subview=issues&productId=9794&bugId=1422518

---- ACTION DETAILS ----

Action Performed:
1. Install the Prey app and login with listed PRO credentials
2. Go to https://panel.preyproject.com/ website and login with same credentials
3. Click on Send message button and write a message in a column
4. Click on Conf

[2015-03-23 20:56] m0schneider opened #113 "[Win7/Chrome] - Send Message: Not all 250 characters are displayed in received message"
View your issue at Applause Testing Services - https://my.applause.com/u/a#!&view=issues&subview=issues&productId=9794&bugId=1423677

---- ACTION DETAILS ----

Action Performed:
1. Install the Prey app and login with listed PRO credentials
2. Go to https://panel.preyproject.com/ website and login with same credentials
3. Click on Send Message button and write text using the maximum allowed charact

[2015-03-24 00:12] shackra commented on #105
thank you!

Everything is good :+1:

[2015-03-24 05:07] shackra commented on #105
Wait, I don't have available other actions than sending a message. Why?
![screenshot-panel preyproject com 2015-03-23 23-07-15](https://cloud.githubusercontent.com/assets/1055216/6796068/664d4e9e-d1b1-11e4-9d53-d71079bc1b6a.png)

[2015-03-24 10:32] fanuneza commented on #105
@shackra I can confirm that also happened to me last time I tried [elementary](http://elementaryos.org). It should be filed as a new issue, though.

[2015-03-25 14:40] lemavri commented on #105
I will check the actions support for your distro and get back to you.

[2015-03-26 05:38] shackra commented on #105
Believe me, every action works. I know that because I changed the lsb_release file with Arch Linux's data, registered my laptop and played for a while with the actions.

[2015-03-26 12:52] lemavri commented on #105
Oh, I know, what I meant with my previous comment is that I'll check what are the definitions in our server-side for the supported actions in Parabola (and Arch).

[2015-03-26 14:53] lemavri commented on #105
I found the cause of the issue and the fix is being deployed as of right now. This will fix also actions for the following distros:

- Mint
- Elementary
- Manjaro
- Mer

[2015-03-26 15:02] boris commented on #105
@shackra we just deployed the fix for this issue. Please verify and fell free to re-open the issue if it doesn't work as expected.

[2015-03-26 15:02] #105 closed

[2015-03-26 17:25] shackra commented on #105
Ok!

El 26 de marzo de 2015 09:02:48 CST, Boris Quiroz <notifications@github.com> escribió:

--
Enviado desde mi teléfono con K-9 Mail.

[2015-03-26 18:29] #94 closed

[2015-03-27 18:08] netnut404 commented on #105
lsb_release -a
LSB Version:	:core-4.1-amd64:core-4.1-noarch:cxx-4.1-amd64:cxx-4.1-noarch:desktop-4.1-amd64:desktop-4.1-noarch:languages-4.1-amd64:languages-4.1-noarch:printing-4.1-amd64:printing-4.1-noarch
Distributor ID:	CentOS
Description:	CentOS Linux release 7.0.1406 (Core)
Release:	7.0.1406
Codename:	Core

[2015-03-27 20:54] lemavri commented on #110
This has been partially fixed for passwords set to "0" and "1".

[2015-03-28 05:47] shackra commented on #105
@netnut404 better post a new issue...

[2015-03-28 15:15] lemavri opened #114 "CentOS is not being correctly added to Prey panel."
Reported by @netnut404 in #105:

lsb_release -a
LSB Version: :core-4.1-amd64:core-4.1-noarch:cxx-4.1-amd64:cxx-4.1-noarch:desktop-4.1-amd64:desktop-4.1-noarch:languages-4.1-amd64:languages-4.1-noarch:printing-4.1-amd64:printing-4.1-noarch
Distributor ID: CentOS
Description: CentOS Linux release 7.0.1406 (Core)
Release: 7.0.1406
Codename: Core

[2015-03-28 15:16] lemavri commented on #114
CentOS is already in the list of supported OSs, but for some reasons is not working. I'm currently running some tests to identify what might be the issue.

[2015-03-28 18:41] lemavri commented on #114
I've already identified the issue. This should be fixed early next week.

[2015-03-28 22:40] lemavri opened #115 "Cannot add device with SliTaz GNU/Linux."
SliTaz distro does not have the `lsb_release` package by default. When installed it returns:

[code]

Instead, SliTaz has a `/etc/slitaz-release` file with the version number of the release.

[2015-03-31 00:49] netnut404 commented on #114
look forward to seeing that :-)

[2015-03-31 17:23] boris commented on #114
Hi @netnut404, this was already deployed to our production environment. Please check if it's working as expected and feel free to reopen this issue (or create a new one) if you find any other issue.

[2015-03-31 17:23] #114 closed

[2015-04-01 18:52] camilaburgos opened #116 "The popup keyboard doesn't popup for the lock screen on Windows tablets (HS:lock-keyboard-bug)"
## Problem

When a tablet running Windows is blocked, the keyboard won't popup in order to unblock it.

## How it was detected

A user reported it.

## Suggestions

Correct this feature for tablets running Windows.

## Resources

- https://secure.helpscout.net/conversation/81512288/17609/

[2015-04-07 16:36] michelson opened #117 "escape emojis when encodeUriCOmponent on geo"
it seems that ssid with emojis are generating errors when the url is encoded:
[code]

the offending line is in geo/index.js 40

[code]

I tried to escape the the ssid and it works , but the emoji is removed.

[code]

[2015-04-07 16:54] tomas commented on #117
What OS? AFAIR we _were_ sanitizing SSID names on `get_access_points_list`.

[2015-04-07 16:55] lemavri commented on #117
Here's how to reproduce:

![screen shot 2015-04-07 at 1 55 19 pm](https://cloud.githubusercontent.com/assets/844344/7028679/c905fcb6-dd2d-11e4-81b1-7a5af8088678.png)

[2015-04-07 16:57] lemavri commented on #117
Here's how the airport output looks like:

![screen shot 2015-04-07 at 1 56 41 pm](https://cloud.githubusercontent.com/assets/844344/7028708/fa2fa27e-dd2d-11e4-966e-d79f41af6108.png)

[2015-04-07 17:31] lemavri commented on #117
![screen-shot-2015-04-07-at-1 56 41-pm](https://cloud.githubusercontent.com/assets/844344/7029245/b473b6f8-dd32-11e4-9f80-aa7513d9a61f.jpg)

[2015-04-07 17:33] lemavri commented on #117
Here's some info on the proposed solution by @michelson

http://ecmanaut.blogspot.com/2006/07/encoding-decoding-utf8-in-javascript.html

[2015-04-07 17:37] tomas commented on #117
We are, indeed, removing weird chars when parsing the output from the system command. Or at least we're trying to:

https://github.com/prey/prey-node-client/blob/master/lib/agent/providers/network/windows.js#L102
https://github.com/prey/prey-node-client/blob/master/lib/agent/providers/network/mac.js#L67
https://github.com/prey/prey-node-client/blob/master/lib/agent/providers/network/linux.js#L107

[2015-04-07 18:24] lemavri commented on #117
After some debugging, @tomas found out that what's causing the problem is that the regex is missing the `g` modifier.

[2015-04-07 18:48] lemavri commented on #117
According to my testings, this is only reproducible in Mac OS X. Linux and Windows are escaping the emojis correctly.

[2015-04-07 19:39] #112 closed

[2015-04-07 19:39] #117 closed

[2015-04-10 22:59] lemavri commented on #110
This bug has been successfully fixed.

[2015-04-10 22:59] #110 closed

[2015-04-12 09:59] johnsto opened #119 "Cannot add openSUSE device"
I get this error when trying to authorize:

    Linking device...
    Error! Invalid os:  does not exist.

This is the output of `lsb-release -a`:

    LSB Version:	n/a
    Distributor ID:	openSUSE project
    Description:	openSUSE 20150407 (Tumbleweed) (x86_64)
    Release:	20150407
    Codename:	n/a

Somewhat surprised openSUSE isn't supported already!

[2015-04-17 07:11] emilio-aburto commented on #69
Any fix on this issue?
For me it seems like prey is actually installed and working even after the error, but it doesn't start on boot so is basically useless.

[2015-04-18 19:44] faustinoaq opened #120 "Please Update prey package on NPM!"
I installed prey via npm with: `sudo npm install -g prey` then `prey config gui` and well.

The prey version is **1.3.6**

In the page <https://preyproject.com> says: *You must upgrade Prey to the latest version*

I see <https://www.npmjs.com/package/prey> and the latest prey package is **1.3.6**

I use npm package because .deb not work

[2015-04-18 19:48] tomas commented on #120
Thanks for the heads up. Will take a look at this right away.

[2015-04-18 20:07] tomas commented on #120
Ok mister. Just pushed the missing versions to npm (1.3.7, 1.3.8 and 1.3.9). Thanks again for the reminder.

[2015-04-18 20:07] #120 closed

[2015-04-18 20:18] faustinoaq commented on #120
Thanks @tomas by the response

[2015-04-26 10:53] StepProgrammer commented on #58
In my istall log I see [very strange string](http://pastebin.com/Uj5WXwht) instead of a string:
CAQuietExec:  "C:\Prey\\versions\1.3.9\bin\prey.cmd" config hooks post_install

I think that this error may lead to inability to install the program. Thank you.

[2015-04-27 17:43] ghost opened #124 "Provide support for systemd on Linux"
## Problem

From a customer:

## How it was detected

Customer feedback.
## Suggested solution

Support systemd.
## Resources
- https://secure.helpscout.net/conversation/86846000/19504/

[2015-04-27 17:51] jristz commented on #124
I recommend support for systemd.timers rather than only cronie, systemd support timers that are replacenment for cronie and looking what in fedora and arch was done, it seem reasonable that ubuntu try replace cronie job for systemd.timers in the future and to prevent another dependencie is better support both.

[2015-04-27 17:56] tomas commented on #124
We *do* support systemd (via the [satan](https://github.com/tomas/satan) module). What does the error message look like?

[2015-04-28 12:04] cpcallen opened #125 "[OS X 10.6.8] Config won't open: missing module argparse"
I had 0.6.4 installed, and, thinking it was very out-of-date removed it using the uninstaller from 0.5.3; this cleanly removed the crontab entry and /usr/share/prey/ as expected.

I then downloaded prey-mac-1.3.9-x64.pkg and installed it; installation completed successfully.  I was expecting to be prompted for login credentials, but nothing happened.  After a bit of googling for possible solutions

[2015-04-28 13:21] lemavri commented on #125
Hello @cpcallen, thanks for your report. It's good to know you were finally able to configure it. I'll go ahead and modify the title of the issue to make it more to the point.

[2015-04-28 13:53] cpcallen opened #126 "Unable to contact MacBook (OS X 10.6.8)"
Having installed and [(eventually)](https://github.com/prey/prey-node-client/issues/125) configured Prey 1.3.9 on my MacBook Pro (mid 2010, OS X 10.6.8), I went to the devices panel on the Prey website (https://panel.preyproject.com/devices), where I noted that the device shows up but is listed as unavailable.

From the website it looks like the device is doing periodic check-ins in every 20 minut

[2015-04-28 13:58] lemavri commented on #126
Could you please run `ps aux | grep prx | grep grep -v` in the terminal and let me know what the output is?

If you get no output, could you please run

```sudo launchctl load /Library/LaunchDaemons/com.prey.agent.plist```

and repeat the `ps aux` command mentioned above?

[2015-04-28 14:48] cpcallen commented on #126
At the present time:

[code]
(Local time is BST == GMT+1)

I see note that user prey is also running ```scutil```.

At the time I submitted this issue, my laptop Ansel was shown as unavailable (with grey dot), and was generally last seen 1 <= n < 20ish minutes ago, hence my suspecting periodic connections.  It would respond to location requests only after some large (5-15 minute) delay.

It seems

[2015-04-28 15:36] lemavri commented on #126
The alert makes use of Python and it could be related to the other issue you reported. Is the alarm being executed correctly?

[2015-04-28 19:13] philborman commented on #124
satan module defaults to upstart if /sbin/initctl is present, which it is if the ubuntu 15.04 is an upgrade from an earlier version. Error message is...
Installing init scripts.
Error! Command failed: initctl: Name "com.ubuntu.Upstart" does not exist

Removing /sbin/initctl breaks the user login, so removing it temporarily to install prey_1.3.8_amd64.deb changes the error message to...
Installing

[2015-04-28 19:15] lemavri commented on #124
@philborman Thanks, that's great feedback. I've downloaded Ubuntu 15.04 to start running tests and fix this ASAP.

[2015-04-28 19:29] philborman commented on #124
Thanks,  that's a fantastic response.

Please bear in mind that 15.04 is systemd based,  14.10 was upstart based.
An upgrade from 14.10 leaves upstart in place alongside systemd.  Probably
shouldn't but it does.  Behaviour may well be different because of this.

Kind regards,
Phil
On 28 Apr 2015 21:16, "Mauricio Schneider" <notifications@github.com> wrote:

[2015-04-28 22:04] cpcallen commented on #126
If by "alarm being executed properly" you mean "the computer produces some
sound", then the answer is positively not.

(The only sound I have so far heard are the little chimes that my web
browser produces when using the Prey website; they are neither loud nor
more than a second or so in length.)

[2015-04-29 14:39] fanuneza commented on #95
I think I found a pattern after a long time troubleshooting with users. The problem seems to be invalid characters on the nearby SSIDs. For example, when running `netsh wlan show all` you can see characters in the form of �.

Here are some references:

- https://secure.helpscout.net/conversation/87114250/19757/
- https://secure.helpscout.net/conversation/82197228/17862/

[2015-04-29 15:17] camilaburgos opened #127 "Advanced options don't persist after rebooting (HS:advanced-options-persistence)"
## Problem

When the **Advanced options** are enabled after setting a device to "missing", after rebooting it, they don't persist. Pictures and screenshots are taken anyways.

## How it was detected

A customer reported it.

## Suggestions

Make those options persist after rebooting.

## Resources

- https://secure.helpscout.net/conversation/87464979/19999/

[2015-04-29 18:21] raliste opened #128 "Delay between get command requests"
After receiving the response for device's pending commands, a new request is fired after ~3-5 seconds, presumably due to commands processing. The request should be fired immediately after receiving the response so we can lower lag perceptions, also, it's a requirement for the new long-polling server.

[2015-04-30 13:40] camilaburgos commented on #77
Please, take a look into this as soon as possible. A new customer is affected by this problem.

[2015-04-30 21:52] sergiobenrocha2 opened #129 "subprocess installed post-installation script returned error exit status 1"
Xubuntu 14.04 amd64, prey 1.3.9:

[code]

[2015-04-30 21:56] sergiobenrocha2 commented on #129
And for some reason, "Update location" and "Sound alarm" didn't work in the first install (I updated, without purge the last package). So now I purge the package and everything in /usr/lib/prey, install again, and these feature worked, but with this error in the install.

[2015-05-01 01:02] lemavri commented on #129
Hello @sergiobenrocha2, thanks for your feedback. The issue you report might be related to this: http://askubuntu.com/questions/611777/how-to-resolve-dpkg-error-configure/611975#611975, which I'll be taking care of really soon.

I'll let you know when it's fixed in case you want to try it out for yourself.

[2015-05-01 14:02] natsis commented on #45
LSB Version:	core-2.0-ia32:core-2.0-noarch:core-3.0-ia32:core-3.0-noarch:core-3.1-ia32:core-3.1-noarch:core-3.2-ia32:core-3.2-noarch:core-4.0-ia32:core-4.0-noarch:core-4.1-ia32:core-4.1-noarch:security-4.0-ia32:security-4.0-noarch:security-4.1-ia32:security-4.1-noarch
Distributor ID:	Kali
Description:	Kali GNU/Linux 1.1.0
Release:	1.1.0
Codename:	moto

Please add support for Kali

[2015-05-02 17:15] erikburd commented on #58
Just tried installing the latest 1.3.9 version - same problem. :(

[2015-05-04 14:15] fritz-fritz commented on #48
@tomas Did this revert? I'm experiencing the same issues described here in prey 1.3.9 on OS X 10.10.3.

If i open the prey console in terminal I can issue a lock but I cannot from the web interface even though it will report the action active.

[2015-05-04 15:06] lemavri commented on #48
@fritz-fritz what about running the following command?

[code]

[2015-05-04 17:25] fritz-fritz commented on #48
double checked the md5 first then ran the above line and it locked properly as both my user and as the prey user.

[2015-05-04 17:40] fritz-fritz commented on #48
@lemavri Did some further digging after investigating the console log. I see this multiple times a second:
[code]

It seems the problem is with the quoting of the MD5 hash as seen below:
[code]
Works after changed to this:
[code]

[2015-05-04 17:56] lemavri commented on #48
Thanks @fritz-fritz, that's a very helpful feedback. I'll look into the issue.

[2015-05-04 17:58] fritz-fritz commented on #48
@lemavri Same problem with the alert message. Also a quote encapsulation issue.
Console:
[code]
Command executed in terminal:
[code]
Fixed:
[code]

[2015-05-12 18:38] #107 closed

[2015-05-14 18:42] jristz commented on #63
I've added you to the family tree on Geni, a website that helps families create and share their family tree and stay in touch with each other.

http://www.geni.com/c/36a220e0de7897e27eca12ec6ada2133c376fa00

Kind regards,

- The Geni Team

------------------------------------------------------------
You are currently signed up to be notified of request activity. Unsubscribe: http://www.geni.com/ac

[2015-05-17 14:29] sergiobenrocha2 commented on #129
Seems it's fixed in 1.3.10 ?

[2015-05-17 15:12] lemavri commented on #129
I indeed changed the POSTINST file of the `.deb` package to make use of `gksu`. This makes the installation to run smooth when using `dpkg -i` and `apt-get install -f` afterwards to install the new `gksu` dependency, but when you install using the Ubuntu Software Center you still might get an error, which I'm hoping to fix really soon.

How are you installing Prey?

[2015-05-17 18:16] sergiobenrocha2 commented on #129
Download & dpkg -i

[2015-05-18 13:28] lemavri commented on #129
If you were not able to reproduce the problem in 1.3.10, I'll go ahead and close the issue. Feel free to open it again if you have the same problem again.

[2015-05-18 13:28] #129 closed

[2015-05-18 14:57] lemavri commented on #126
I'm sorry for the delay @cpcallen. Could you please run the following command in your terminal? (make sure not to be wearing headphones 😜)

 `afplay /usr/lib/prey/current/lib/agent/actions/alarm/lib/alarm.mp3`

[2015-05-18 15:36] lemavri commented on #124
Thanks for pointing that out. I'll test that use case as well.

[2015-05-18 15:59] lemavri commented on #119
We do support openSUSE, but apparently they changed the `Distributor ID` in their recent release. Thanks for your report.

[2015-05-18 18:21] jristz commented on #124
also concider that Arch use /usr/bin/init as simlink to /usr/lib/systemd/systemd and have future plans to remove the symlinks from /lib -> /usr/lib and let alone /usr/lib.
also /usr/sbin point to /usr/bin and /bin and /sbin point to /usr/bin.
also Fedora do the /usr thing but they keep /usr/bin and /usr/sbin separated and I'm not sure if they /usr/(s?)bin/init point to the same location that Arch

[2015-05-18 18:32] camilaburgos opened #133 "Even when users mark the option "Do not take pictures", and these are not included on the reports, the device takes them anyways and blinks its webcam light (HS:webcam-blinks)"
## Problem

This is a pretty serious issue, because some users think that the "taking picture" feature is counter-productive in devices that automatically blink a light when taking photos. Pictures are not included on the reports, **but** they are taken by the device anyways, and this could alert the thieves.

## How it was detected

Two **customers** reported the same problem.

## Suggestions

To

[2015-05-19 12:53] lemavri opened #134 "v1.4.0 is missing semver package in shrinkwrap"
This causes the client to crash on boot.

[2015-05-19 12:54] lemavri commented on #134
Fixed in d3be8d10ed78f973d0d4300831112543aedf06c3

[2015-05-19 12:54] #134 closed

[2015-05-20 19:34] fanuneza opened #135 "Prey client doesn't report neighboring WiFi signal strength or network security"
## Problem

This is how reports look on Prey for laptops.

![screenshot 2015-05-20 16 27 05](https://cloud.githubusercontent.com/assets/401279/7734635/e31c7ae2-ff0d-11e4-8dd9-7bd97770154d.png)

And this is how they look for Android devices.

![screenshot 2015-05-20 16 27 27](https://cloud.githubusercontent.com/assets/401279/7734638/e8970b40-ff0d-11e4-9596-9aa89d6d10df.png)

Information should be t

[2015-05-22 13:02] boris commented on #135
I'm not able to reproduce this issue:

![screen shot 2015-05-22 at 9 59 20](https://cloud.githubusercontent.com/assets/537305/7770900/7592797e-0069-11e5-8367-fdb8410d596b.png)

Could you please provide more information about the device?

[2015-05-22 13:11] lemavri commented on #135
I wasn't able either. Yesterday I got a report with all the Wi-Fi signals in it.

[2015-05-22 13:50] fanuneza commented on #135
64-bits Windows 8.1 laptop running Prey 1.3.9. Just replicated the issue.

[2015-05-22 15:53] lemavri commented on #135
@fanuneza what's the output of running `netsh wlan show all` ?

[2015-05-22 20:45] fanuneza commented on #135
@lemavri: I'm sending you that privately. Everything looks fine, though.

[2015-05-27 21:40] beeatriz opened #136 "Prey unconfigures after every system update (Elementary OS)"
## Problem

User has to manually launch GUI after Prey installation and every system update on Elementary OS. Gets following output after everytime he installs or updates Prey:

https://gist.githubusercontent.com/beeatriz/a5c49a13ce2f2ccaf2a3/raw/gistfile1.txt

## How it was detected.

User feedback

## Suggestion

Check for bugs and solve

## References

https://secure.helpscout.net/conversation/

[2015-06-05 00:12] cpcallen commented on #126
This makes an annoying beeping noise (provided my system volume is not muted).

Christopher

[2015-06-12 18:53] beeatriz opened #137 "Node.js errors when mapping ports."
## Problem
User not able to get a location consistently. Gets one on startup but starts failing a while after, every time he boots. Prey.log shows errors EADDRINUSE; EADDRNOTAVAIL; DEPTH_ZERO_SELF_SIGNED_CERT

https://gist.github.com/beeatriz/6ee3da968f50e0dc94c8

## How it was detected.

User feedback

## References

https://secure.helpscout.net/conversation/96066217/22875/

[2015-06-22 16:17] m0schneider opened #138 "Install fails when using Software Center in Ubuntu"

[2015-06-22 16:18] lemavri commented on #136
I've contacted the user to help him with his particular problem. The more general issue is referenced in #138.

[2015-06-22 16:19] #136 closed

[2015-06-24 05:09] jristz commented on #63
I've added you to the family tree on Geni, a website that helps families create and share their family tree and stay in touch with each other.

http://www.geni.com/c/cad1cc6f0c8723e35da207939994276303e9e327

Kind regards,

- The Geni Team

------------------------------------------------------------
You are currently signed up to be notified of request activity. Unsubscribe: http://www.geni.com/ac

[2015-06-27 22:21] electronicsguy commented on #58
Hello,
      I have been using Prey for a couple of years. I tried install the latest version today (1.3.9-x64.exe) on Windows 7, 64-bit. None of these directories worked: C:\windows\prey, C:\program files\prey. I would get the same error as reported above (CAQuietExec). I finally did what @erikburd suggested, (using C:\Prey) and it install correctly. Could someone please look into this problem.

[2015-06-27 22:40] lemavri commented on #58
Hello @electronicsguy, thanks for the feedback and for pointing out what worked for you.

[2015-06-29 00:18] electronicsguy commented on #58
Hello,
       I encounter this error installing the Ubuntu version:

The full install log is pasted here: http://pastebin.com/2Fnke7uC. Nothing gets installed (atleast I don't see it.)
Specs:
Prey v1.3.10 amd 64
Ubuntu 15.04 kernel: 3.19.0-21-generic

[2015-07-04 08:12] abdergalden commented on #58
does anyone know why this problem is still not solved?

=== Logging started: 03.07.2015  15:08:37 ===
Action start 15:08:37: INSTALL.
Action start 15:08:37: FindRelatedProducts.
Action ended 15:08:37: FindRelatedProducts. Return value 1.
Action start 15:08:37: SetSetApiKeyWithoutValidation.
Action ended 15:08:37: SetSetApiKeyWithoutValidation. Return value 1.
Action start 15:08:37: SetValidateAndS

[2015-07-08 21:17] camilaburgos opened #140 "Greenshot app allows the taskbar to show up, eventhough the computer's screen is locked with Prey"
## Problem

As the client said: "*On our Windows PCs, we use a third party screenshot tool (Greenshot) that, when triggered via the Print Screen key, will cause the taskbar to show even when the device has been locked via the Prey console. However if you did try to open anything it would still be behind the Prey Lock screen*."

## How it was detected

Reported by a customer.

## Suggestions

Take

[2015-07-08 23:06] electronicsguy commented on #58
Hello,
  the Ios app needs a way to be able to return to "control panel" after having logged in to manage settings. Currently, once I login, and then hit see the settings, and if I hit the back button to go back to the previous screen, this is what I see:
http://bit.ly/1HO9CGV

No way to get to "control panel" anymore.

[2015-07-09 05:57] FilipoMoake opened #141 "Unable to install prey on debian Wheezy"
Hello !

The install :
Prey package : prey_1.3.10_amd64.deb
Debian : Wheezy 7.8
Kernel : 3.2.0-4-amd64 (#1 SMP Debian 3.2.68-1+deb7u2)
Gnome : 3.4
----------------
Installed with GDebi :
Result :

---------------
GDebi prey_1.3.10_amd64.deb

*e_modules to uid 997 and gid 997
chowning /usr/lib/prey/versions/1.3.10/node_modules/serve-static to uid 997 and gid 997
chowning /usr/lib/prey/versions/1.3.

[2015-07-09 14:53] lemavri commented on #141
Hello @FilipoMoake, thanks for your feedback :).

1 and 2 are expected. We launched 1.3.10 but a bug in the way we were comparing versions wrongly considered 1.3.9 to be higher than 1.3.10, so we did a rollback and set 1.3.9 as the latest version again. I'm working on the new release that will fix that and a few other issues.

3. I'm seeing this `UNCAUGHT EXCEPTION: Missing keys.` in your log file

[2015-07-10 03:59] FilipoMoake commented on #141
Thank you lemavri.
Waiting for news from you.
Regards.

[2015-07-10 08:41] fanuneza commented on #141
Hi @FilipoMoake,

I remember that Gdebi had trouble with the installer in the past. Does DPKG also get you errors while installing the package?

The instruction is `dpkg -i prey_1.3.10_amd64.deb`, just in case. You might have to install dependencies after that, and probably an `apt-get install -f` will do the trick. You need root permissions for both commands.

I'm not sure if that will work but I

[2015-07-11 01:28] FilipoMoake commented on #141
Hi Iemavri,

Thank you for your message,

I've just tried what you suggested. Unsuccessful too.

Here is the end message from apt-get install -f :

Ensuring presence of config dir: /etc/prey
Syncing /etc/prey/prey.conf with /usr/lib/prey/versions/1.3.10/prey.conf.default
Setting up this as current...
Warning: This version is already set as current.
Setting permissions on /usr/lib/prey/current
Runn

[2015-07-11 06:55] FilipoMoake commented on #141
A few more news ...
I was able to go to the end of the install process with that :
. # dpkg -i prey_1.3.10_amd64.deb (end with Error! Command failed: /bin/sh: 1: /etc/init.d/prey-agent: Permission denied)
. i manually change /etc/init.d/prey-agent file as "launchable" that was missing
. i modify the script /var/lib/dpkg/info/prey.postinst - line 74 :
         before :       env DISPLAY=:0.0 gksu -

[2015-07-17 15:59] lemavri commented on #77
There was a server-side issue with running actions. Most likely this is fixed by now, I'll try to replicate and if I can't I'll close the issue.

[2015-07-17 16:02] lemavri commented on #119
Hello @johnsto, sorry for the delay, we fixed the issue in our servers and it should be working now. Please let us know if the issue persists.

[2015-07-17 16:02] #119 closed

[2015-07-17 16:09] #127 closed

[2015-07-17 16:09] #133 closed

[2015-07-17 17:56] boris commented on #124
Another way to check if a system is using `upstart` or `systemd` is using `stat` against `/proc/1/exe`. It will return the following for systemd

[code]
Or the following for upstart
[code]

[2015-07-18 11:52] JOndra91 commented on #124
This is actually a bug in satan:
[Upstart is being used instead of systemd in systems running both upstart and systemd (i.e. Ubuntu 15.04)](https://github.com/tomas/satan/issues/1)

Just wait for fix and use updated version.

By the way, here [How to find out if a system uses SysV, Upstart or Systemd initsystem](http://unix.stackexchange.com/a/196252) is reason why depending only on `/proc/1/exe`

[2015-07-19 20:34] dimme commented on #91
I can confirm this error on Windows 7 x64 Enterprise on a Dell Latitude E6220 while installing Prey 1.3.10. I haven't found any way to solve the problem and proceed with the installation.

[2015-07-21 18:32] lemavri opened #144 "Native geoloc in ubuntu fails with dbus-launch error: No protocol specified."
[code]

[2015-07-22 20:04] lemavri opened #145 "Win8+ Nearby AP list not refreshing in tablets"

[2015-07-23 14:57] beeatriz opened #146 "Screen Lock doesn't work on Arch Linux"
## Problem

Screen Lock isn't responding on Arch Linux. Command is sent but device doesn't react.

## How it was detected.

User feedback.

## References

https://secure.helpscout.net/conversation/103991318/25150/

[2015-07-23 15:24] beeatriz commented on #146
Duplicate of #72

[2015-07-23 15:24] #146 closed

[2015-07-23 19:30] beeatriz opened #147 "Can't install on OS X El Capitan 10.11"
## Problem

On install, Prey throws the following line on OSX El Capitan 10.11

Humax-Living-Room:~ stewartdunn$ /usr/lib/prey/current/bin/prey config gui -f

-bash: /usr/lib/prey/current/bin/prey: No such file or directory

Humax-Living-Room:~ stewartdunn$

## How it was detected.

User feedback.

## References

https://secure.helpscout.net/conversation/104576542/25324/

[2015-07-23 19:34] lemavri commented on #147
This is because Prey is not installed. The issue must be a different one.

[2015-07-23 21:19] lemavri commented on #99
Could not reproduce.

[2015-07-23 21:19] #99 closed

[2015-07-24 18:58] beeatriz commented on #72
User's output of *journalctl:* when executing LOCK:

Jul 23 12:26:16 warchx su[6130]: (to wesley) root on none

He recorded the screen showing what happens: http://youtu.be/ShjmSHtaKzc

[2015-07-26 02:41] wesleycota commented on #72
Just changed

[code]
to
[code]

in file /opt/prey-node-client/lib/agent/actions/lock/linux/prey-lock and now it works. :)

[2015-07-26 23:50] v6 commented on #138
// , My installation not only fails, but repeatedly tries to reinstall every time that I try to use `sudo apt-get install` on other software.

This has occurred on this system since about a month ago, at least.

The spew, I get repeatedly, every time I attempt to install Prey on Ubuntu 14.10 ends with the following:

chowning /usr/lib/prey/versions/1.4.0/node_modules/nodemailer/node_modules/buildm

[2015-07-27 12:50] lemavri commented on #72
Thanks for the feedback @wesleycota. There are some other priorities in the pipeline right now, but I'll look into the issue as soon as possible.

[2015-07-30 21:04] #145 closed

[2015-07-31 17:43] lemavri commented on #95
Fixed in v1.4.1

[2015-07-31 17:43] #95 closed

[2015-07-31 17:44] lemavri commented on #86
Cannot longer reproduce. Latest fixes to location should solve the issue.

[2015-07-31 17:44] #86 closed

[2015-07-31 17:45] lemavri commented on #124
`satan` update fixed this (👏@tomas)

[2015-07-31 17:46] lemavri commented on #135
@fanuneza could you please try to reproduce with 1.4.0 or 1.4.1pre?

[2015-07-31 18:06] lemavri commented on #147
According to one of our users, the problem is related to a change in permissions in El Capitan. It appears that applications are unable to being installed under `/usr/lib`, which is the case of Prey. Instead, they should be installed under `/usr/local/lib`. I will have to look further into the issue.

[2015-08-01 14:41] sparr commented on #124
This bug appears to still exist in prey_1.4.0_amd64.deb. Asking users to unpack the deb to edit a script to update the packaged copy of satan is not really a solution.

[2015-08-01 14:51] lemavri commented on #124
@sparr there's already a 1.4.1 release that updates satan, although it
hasnt been published in the website. It should be there by monday, in the
meanwhile you can download the .deb from this repo, which can be found
under releases.
On Aug 1, 2015 11:41 AM, "sparr" <notifications@github.com> wrote:

[2015-08-07 14:13] camilaburgos opened #149 "Operating systems won't automatically update on the panel"
## Problem

When a one updates a device's operating system, it won't be updated on the panel. For example, updated Windows devices aren't shown as Windows 10, but still as Windows 8.

## How it was detected

A couple of users have reported this.

## Suggestions

Scan for OS version on status sync.

## Resources

- https://secure.helpscout.net/conversation/110599369/26891/

[2015-08-11 04:49] bhovell2 commented on #124
Is 1.4.1 stable and usable? I found it in the ../versions subdir. Do I just change the "current" link to point to 1.4.1 or is there some other magic that's required to use it (to hopefully fix this error condition)?

Thanks!

[2015-08-11 13:13] lemavri commented on #124
@bhovell2 the `/usr/lib/prey/current` symbolic link should have been changed automatically after the update.

[2015-08-11 13:41] bhovell2 commented on #124
On 08/11/2015 08:13 AM, Mauricio Schneider wrote:

I created the link manually but running apt-get -f install still
generates the same error message: "Error! Command failed: initctl:
Name "com.ubuntu.Upstart" does not exist"

Wasn't 1.4.1 supposed to fix that problem? Or does it tweak
something different?

Thanks!

[2015-08-11 13:44] lemavri commented on #124
Could that be from your previous installation attempt? Is there any chance you could run a re-install test?

[2015-08-11 14:57] bhovell2 commented on #124
Hi, Mauricio...

Yes. I completely removed all traces of prey 1.4.0 and then removed
the device using the dashboard at the website.

When I clicked to download the prey package for Linux on the
website, the link was pointing to the 1.4.0 version:

https://prey-releases.s3.amazonaws.com/node-client/1.4.0/prey_1.4.0_amd64.deb

.... so I edited the link in my browser to be:

https://prey-releases.s3.

[2015-08-11 15:00] lemavri commented on #124
@bhovell2 Could you please check what's the content of `/var/log/prey.log`?

[2015-08-11 15:16] bhovell2 commented on #124
Of course. This is the content of /etc/prey.conf:

#############################
# Prey Configuration
#############################

# List of plugins to load at startup. For options, run 'prey config
plugins'.
plugin_list = control-panel

# Whether to try to connect to an open Wifi network if not online,
when needing to send data.
auto_connect = false

# Allows Prey to auto-update itself when new

[2015-08-11 15:39] lemavri commented on #124
Bud, I edited your comment to remove sensible data. The file you pasted was the config, but I was hoping to get a look to your log file (located in `/var/log/prey.log`)

[2015-08-11 15:45] bhovell2 commented on #124
On 08/11/2015 10:39 AM, Mauricio Schneider wrote:

Oops, sorry. I misread what you asked for. This is the content of
/var/log/prey.log:

[rex]root   > cat prey.log
     warn Tue, 11 Aug 2015 14:34:55 GMT Got QUIT signal.
     info Tue, 11 Aug 2015 14:34:55 GMT Gracefully shutting down.
Will self-destruct in 10 secs.
     info Tue, 11 Aug 2015 14:34:55 GMT [actions] Stopping: connection
     info T

[2015-08-11 15:45] sparr commented on #124
Sensitive info remains in email notifications. You should change your keys.

[2015-08-11 15:49] bhovell2 commented on #124
BTW, I notice the /etc/prey.conf file is globally readable:
-r--r--r-- 1 prey prey 1.3K Aug 11 09:42 prey.conf

Should that not be readable only by user and group 'prey'?

bh

[2015-08-11 15:56] bhovell2 commented on #124
I just received this notice owing to my mistake including sensitive
info.

The question now is how do I generate a new API key?

-------- Forwarded Message --------
Subject: 	Re: [prey-node-client] Provide support for systemd on
Linux (#124)
Date: 	Tue, 11 Aug 2015 08:45:48 -0700
From: 	sparr <notifications@github.com>
Reply-To: 	prey/prey-node-client
<reply@reply.github.com>

To: 	prey/prey-node-

[2015-08-11 15:58] lemavri commented on #124
Right now the only way is to create a new account. If you want to use the same email address, you can change the email address of your current account to a different one and then create a new account.

[2015-08-11 17:08] bhovell2 commented on #124
On 08/11/2015 10:58 AM, Mauricio Schneider wrote:

I did that and both devices are registered. The android phone is
showing up fine when location is requested. The ubuntu box is not
(using 1.4.1).

bh

[2015-08-11 17:59] lemavri commented on #124
I will run some test on an Ubuntu box and get back to you.

[2015-08-12 00:38] bhovell2 commented on #124
Hi, Mauricio ...

Thanks very much. Don't know what to say except that I just tried it
again with no luck. The weird thing is that immediately before I
uninstalled 1.4.0 version, it was working just fine. Makes me wonder
if it's just a timeout issue. Is it possible to configure prey to
have a longer timeout period?

Best,

Bud

[2015-08-12 00:52] bhovell2 commented on #124
Hi, Mauricio ....

My cellphone and ubuntu box are both connected locally by wifi to
our cable service. When I just tried to locate the cellphone, it
came up immediately. But the ubuntu box does not under 1.4.1  I
conclude if there is a timeout problem on the ubuntu box, it
apparently doesn't owe to network delay.

FWIW.

Best,

Bud

[2015-08-12 09:59] binarykitchen opened #150 "All config attempts fail when npm's prefix is set to home"
On Ubuntu 15.04 with io.js 2.5.x I always experience this

[code]

I guess this is because I have an exotic npm config here

[code]

Can you make it work even when prefix is set to a home directory?

[2015-08-12 11:22] kostaldavid8 commented on #124
When should I expect fix? I ran into this issue 5 minutes ago...

[2015-08-12 12:48] bhovell2 commented on #124
Hi, Mauricio ...

Hmmm...something interesting just happened during routine update of
chrome, firefox, and bsdutils: an install error was reported, so (as
'root') I ran 'apt-get -f install', with this output result:

/etc/passwd contains the entry:
'prey:x:999:999::/home/prey:/bin/false'. I also verified that
permissions on /etc/prey and it's contents are set to prey:prey,
and  /usr/lib/prey and i

[2015-08-12 15:32] lemavri commented on #124
@bhovell2
Thanks for the feedback. That one last log is indeed interesting (and strange). I haven't ran the tests I promised but I will do today.

@kostaldavid8 did you download the [latest release](https://github.com/prey/prey-node-client/releases/tag/v1.4.1)?

[2015-08-12 15:54] bhovell2 commented on #124
On 08/12/2015 10:32 AM, Mauricio Schneider wrote:

Yes, this is version 1.4.1

bh

[2015-08-12 17:45] crockpotveggies commented on #147
+1

[2015-08-12 20:52] #66 closed

[2015-08-12 21:02] #85 closed

[2015-08-12 21:06] lemavri commented on #58
I just started working on this bug. According to different log files, it seems that the problem is related to the installation of the CronService service and perhaps there's also a relation on where Prey is installed. I'll check the installer code and also run some tests to try to replicate the issue.

[2015-08-14 17:57] bhovell2 commented on #124
Hi, Mauricio ...

I just discovered this new install hadn't quite finished when I ran
an upgrade. This is now the output when I run apt-get -f install:

[2015-08-14 21:11] beeatriz opened #152 "Lock can be bypassed with Sticky Notes alert"
## Problem

Sticky Keys feature (pressing shift button 5 times) will call an alert, bringing taskbar up. This allows the user to close Prey by right-clicking on the task and by-passing the lock.

## How it was detected.

User feedback

[2015-08-15 01:09] binarykitchen commented on #124
so, what's the fix for the above problem?

[2015-08-15 01:13] binarykitchen opened #153 "Ubuntu (gksu:26715): Gtk-WARNING **: cannot open display: :0.0"
I tried to install this deb file on Ubuntu 15.40
https://prey-releases.s3.amazonaws.com/node-client/1.4.1/prey_1.4.1_amd64.deb

But at the very end it crashed due to a gksu bug:

[code]

[2015-08-24 08:22] mittus commented on #58
Windows 10 x64 error log:

=== Logging started: 24.08.2015  11:19:15 ===
Action start 11:19:15: INSTALL.
Action start 11:19:15: FindRelatedProducts.
Action ended 11:19:15: FindRelatedProducts. Return value 1.
Action start 11:19:15: SetSetApiKeyWithoutValidation.
Action ended 11:19:15: SetSetApiKeyWithoutValidation. Return value 1.
Action start 11:19:15: SetValidateAndSetApiKey.
Action ended 11:19:

[2015-09-04 15:43] beeatriz opened #154 "User unable to enter strange domain email on node config GUI"
## Problem

Config on Macbook rejects user email, even if he has an account assigned to it and works on iOS.

Email: mail@krishangandhi.london
Possibly related to #629 (solved and closed)

## How it was detected.

User feedback

## References

https://secure.helpscout.net/conversation/115548579/28664/
https://github.com/prey/prey-control-panel/issues/629

[2015-09-09 10:54] rebeccaadams1232 commented on #45
Hi, can you please add Redhat workstation?

# lsb_release -a
LSB Version:	:base-4.0-amd64:base-4.0-noarch:core-4.0-amd64:core-4.0-noarch:graphics-4.0-amd64:graphics-4.0-noarch:printing-4.0-amd64:printing-4.0-noarch
Distributor ID:	RedHatEnterpriseWorkstation
Description:	Red Hat Enterprise Linux Workstation release 6.6 (Santiago)
Release:	6.6
Codename:	Santiago

[2015-09-09 14:03] rebeccaadams1232 opened #155 "Invalid os: does not exist"
Hi, I'm having the same issue as here: https://github.com/prey/prey-node-client/issues/45 which is closed
Perhaps Redhat Workstation isn't recognised?

lsb_release -a
LSB Version:	:base-4.0-amd64:base-4.0-noarch:core-4.0-amd64:core-4.0-noarch:graphics-4.0-amd64:graphics-4.0-noarch:printing-4.0-amd64:printing-4.0-noarch
Distributor ID:	RedHatEnterpriseWorkstation
Description:	Red Hat Enterprise Lin

[2015-09-09 14:10] lemavri commented on #155
Hello @rebeccaadams1232,

I'll take care of adding said OS to the valid OS list in our servers and let you know when it's done.

[2015-09-09 15:25] beeatriz opened #156 "Windows 10 isn't giving updated location"
## Problem

Prey showing old location for Windows 10 devices.

## How it was detected.

User feedback.

## Suggestion

I am checking is the same happens with older versions of Prey, for investigation.

## References

https://secure.helpscout.net/conversation/119121513/29817/

[2015-09-10 09:41] rebeccaadams1232 commented on #155
Many thanks :)

[2015-09-10 18:50] lemavri commented on #45
@natsis sorry for the delay. I just read your comment yesterday. We have added support for Kali, please feel free to try it out and let us know how it goes.

[2015-09-10 18:51] lemavri commented on #155
@rebeccaadams1232

We just deployed the fix with the OS addition. Please, feel free to check if it's working now and let us know how it goes. In the meanwhile I'll go ahead and mark the issue as close, but you can re-open it at any time.

[2015-09-10 18:51] #155 closed

[2015-09-11 08:03] rebeccaadams1232 commented on #155
Wahoo, works now :)
Thanks!

[2015-09-11 10:40] lemavri commented on #155
I'm glad it's working now. Thanks for letting us know.

[2015-09-15 19:57] boris opened #157 "iOS Failed jobs"
![image](https://cloud.githubusercontent.com/assets/537305/9888272/7c84e75a-5bca-11e5-9844-ae0e29137a0a.png)

Debido a la nueva versión (en desarrollo?) de iOS, está apareciendo estos errores en resque. Si bien el error ha afectado a pocos usuarios (9), se ha repetido más de 35k veces. Acá el reporte en Bugsnag https://bugsnag.com/prey/panel/errors/537f9959d6a5d5af15863d65

[2015-09-15 19:59] #157 closed

[2015-09-18 07:43] lookfirst commented on #147
Yup, my console log is being filled up with error messages:

9/18/15 12:42:51.594 AM com.apple.xpc.launchd[1]: (com.prey.agent[68228]) Service could not initialize: Unable to set current working directory. error = 2: No such file or directory, path = /usr/lib/prey/current: 15A282a: xpcproxy + 12028 [1353][19011403-4854-3CCD-9FCF-49C36302EB40]: 0x2
9/18/15 12:42:51.594 AM com.apple.xpc.launchd[1]:

[2015-09-18 07:44] lookfirst commented on #147
Screenshot of install failure with 1.4.1: http://take.ms/1LcaW

[2015-09-24 20:47] fanuneza commented on #58
This is the on-screen error.

![b115b3af928fc378c1c25cc4bbfe0168](https://cloud.githubusercontent.com/assets/401279/10086330/3333e24c-62e4-11e5-984b-960e4283647c.png)

[2015-09-25 04:07] miltonlaufer commented on #153
Same problem here, ubuntu 14.04

[2015-09-25 13:06] camilaburgos commented on #77
This keeps happening:

- https://secure.helpscout.net/conversation/120891460/30510/

[2015-09-29 14:16] camilaburgos opened #158 "The cookies in Mozilla Firefox 40.0.3 do not get deleted after wiping (HS:firefox-cookies)"
## Problem

After a client triggered the Wipe action on a computer, the cookies in Firefox 40.0.3 didn't get deleted. It is running Windows 10 (Build 10240).

## How it was detected

Customer feedback.

## Suggestions

Do some testing and find the root of the problem to sort it ASAP.

## Resources

- https://secure.helpscout.net/conversation/120891460/30510/

[2015-09-30 14:25] stewacide commented on #147
This is because of the new rootless / system integrity model. Look in /Library/SystemMigration/History/ and you'll find where Prey was moved on installing El Capitan: seems it hasn't been working for me for about a month, since I installed the public beta. Good thing my Macbook wasn't stolen in that time!!!

Hopefully the developers find a work around.

[2015-10-01 15:24] bhovell2 commented on #124
Hi, Mauricio ...

This is a followup on the earlier posts since there have been no further comments provided after you mentioned you would do some testing. Were you unable to reproduce the problem?

I have 1.4.1 prey working on this 15.04 ubuntu box and every apt-get install action ends output with an error reporting incomplete prey installation:

<code><pre>
[ ...mumble, mumble... ]
Setting permi

[2015-10-01 15:37] lemavri commented on #124
@bhovell2 I'm sorry for not giving enough attention to this issue. This and the next week I'm committed to something else, but after that, I'll solely focus on the various installation issues.

[2015-10-01 15:51] wachunei commented on #147
<img width="732" alt="screen shot 2015-10-01 at 12 40 40 pm" src="https://cloud.githubusercontent.com/assets/1024246/10225767/a731d43c-683a-11e5-99ef-14641b11fd68.png">

I don't know if this is related at all but MacTeX distribution had to [https://tug.org/mactex/UpdatingForElCapitan.pdf](release a guide) to link correctly the binaries used in software to the right paths in El Capitan. Could this

[2015-10-01 16:32] bhovell2 commented on #124
OK, thanks!

[2015-10-02 14:40] lemavri commented on #147
The fix to this issue will be included in the release 1.4.2, which is about to be published.

[2015-10-02 14:40] #147 closed

[2015-10-02 15:35] beeatriz commented on #147
Avisa cuando salga

2015-10-02 11:40 GMT-03:00 Mauricio Schneider <notifications@github.com>:

[2015-10-04 01:47] asadowski commented on #147
So is prey in `/usr/local/lib` now?

[2015-10-04 01:48] lemavri commented on #147
Yes, it is.
On Oct 3, 2015 10:47 PM, "asadowski" <notifications@github.com> wrote:

[2015-10-06 08:14] StepProgrammer commented on #58
Cron Service for Prey marked as hight risky as malware.

[2015-10-06 10:52] lemavri commented on #58
Hey @StepProgrammer, thanks for your report. It might very well be the cause for this issue. What AV software are you using?.

[2015-10-10 16:22] mhalano opened #159 "Add Prey binary to Linux path"
Probably would be a good idea if prey command is in Linux path. I think is possible add into .deb packages a symlink on /usr/bin to /usr/lib/prey/current/bin/prey.

[2015-10-14 14:48] StepProgrammer commented on #58
Doctor Web. This is not problem of my antivirus. Installer for Cron Service placed to global malware database. But disable antivirus software is interesting idea. I try it. Now. I think that the have workaround to temporarily solve the problem. Stay turned.

[2015-10-14 15:45] StepProgrammer commented on #58
Nothing, but I find this in prey.log:

  ████████████████ ████████████████ ████████████████ ██            ██
  ██            ██ ██               ██            ██ ██            ██
  ██            ██ ██               ████████████████ ██            ██
  ██            ██ ██               ██               ██            ██
  ████████████████ ██               ████████████████ ████████████████
  ██

[2015-10-14 16:04] StepProgrammer commented on #58
Which version are you using for Node.js development? My version is 4.0.0

[2015-10-21 11:56] MacksMind opened #160 "El Capitan upgrade disables Prey 1.4.2"
Prey 1.4.2 auto updated before the El Capitan upgrade. After the upgrade prey stopped working, but reinstall of 1.4.2 fixed it. It looks like the installer puts prey in /usr/local/lib, but the autoupdate doesn't move it there from /usr/lib/prey.

[2015-10-21 15:12] fanuneza opened #161 ""Empty or outdated config file. Please run ‘config activate’ and retry" while upgrading on OS X El Capitan"
## Problem

The installer fails when upgrading from Prey 1.4.1 or older. The title is the actual problem.

When running the `config activate` command you get this output,

![screen 20shot 202015-10-20 20at 2005 24 00](https://cloud.githubusercontent.com/assets/401279/10641861/6ed6eae8-77f1-11e5-94be-34982e196538.png)

## How it was detected

Tons of user feedback.

## Suggested solution

Fix the u

[2015-10-25 11:40] parapente opened #163 "prey doesn't recognise sabayon linux"
I tried to setup prey and I get using both the gui and cli version of prey config the message:
"Error! Invalid os:  does not exist."

I installed prey using npm. If you need any extra info plese feel free to ask.

[2015-10-26 10:13] lemavri commented on #163
Hello @parapente, thanks for your report. I will let you know as soon as this is resolved.

[2015-10-26 10:44] lemavri commented on #163
@parapente, could you please run `lsb-release -a` in your Terminal and paste the output here? Thanks in advance.

[2015-10-26 13:32] muneer-memon commented on #58
Check the event viewer. In Windows logs under Application check the recent error. If it contains this error
"The performance strings in the Performance registry value is corrupted when process WmiApRpl extension counter provider. The BaseIndex value from the Performance registry is the first DWORD in the Data section, LastCounter value is the second DWORD in the Data section, and LastHelp value is

[2015-10-26 15:38] parapente commented on #163
$ lsb_release -a
LSB Version:    n/a
Distributor ID: Sabayon
Description:    Sabayon Linux amd64 15.11
Release:        n/a
Codename:       n/a

Hope this helps!

[2015-11-08 18:39] r3code commented on #58
On Windows x64 10 Russian I've only succeded with 0.9.6.2 x64

[2015-11-10 07:53] itsknowone commented on #100
I am still getting "icoming connection denied for node" while using Little Snitch.
Is there a fix for this? Can I just ignore it and Prey will still work as its supposed to? I added exceptions for Prey but still no luck.

Thanks!

[2015-11-10 11:21] lemavri commented on #100
Hello @itsknowone, the next release will include a fix, at least for the usage of the node `dns` package that was causing Prey to query "extraneous" IPs, hence triggering LS.

[2015-11-10 18:30] itsknowone commented on #100
Awesome! Thanks @lemavri

[2015-11-11 00:04] paxperscientiam commented on #160
Hi MacksMind, I to am having trouble with prey on El Capitan. After upgrading the OS, I noticed from Console logs that the prey agent was crashing and restarting, essentially, continuously. At the time I was running the original, non-node, version. I decided then to uninstall it and give the new node version a try. Still, not working.

Was there anything else you had to do to get your installation

[2015-11-11 12:46] MacksMind commented on #160
I did nothing except install a fresh download of 1.4.2 over top of the existing install.

[2015-11-11 19:00] r3code commented on #58
Dear Developers, can you please provide MSI install script as it was in pre 1.0 version's source. I'd like to find out the trouble.
Looks like a problem with service.

[2015-11-11 19:01] r3code commented on #58
I've currently succeded with 0.9.6.2 at Win 10 russian, but LOCK won't work.

[2015-11-11 19:18] lemavri commented on #58
Hello r3code. Here you can find the `msi` for the latest version: https://github.com/prey/prey-node-client/releases/tag/v1.4.2

Also, there's a fix for the lock in windows 10 that will be included in the 1.4.3 release being launched later this week.

@StepProgrammer I'm using 0.12.7 for now.

[2015-11-11 21:48] paxperscientiam opened #168 ""Unable to map port: Could not locate gateway on time.""
After giving up on prey installed via NPM, I decided to try directly from the website.

Whereas the prey agent would crash and restart continuously when it had been installed via NPM, this is no longer the case. However, prey is still not working.

[log.txt](https://github.com/prey/prey-node-client/files/32344/log.txt)

Any thoughts on how to remedy this?

[2015-11-11 21:52] lemavri commented on #168
Hello. According to the log, it should be working. The "could not locate gateway on time" part is because Prey was unable to use uPnP, most likely because your router does not support it. Nevertheless, uPnP has been removed in the release soon to be uploaded.

Could you please check if your config file located in `/etc/prey/prey.log` contains an API and Device keys? (Do not share your keys here if

[2015-11-11 22:02] paxperscientiam commented on #168
Hiya,

Hm okay. Did you mean `/etc/prey/prey.conf`? I have that and it does indeed have a device key and an API key.

[2015-11-11 22:04] lemavri commented on #168
Yes, sorry, that's what I meant. Did you try sending instructions (alert, alarm) to your device from the Prey website?

[2015-11-11 22:07] paxperscientiam commented on #168
I've only tried the location service. Let me give that a whirl. BRB

[2015-11-11 22:11] lemavri commented on #168
What OS do you have? I could provide you with a beta version of the next release which should be more responsive to instructions from our servers.

[2015-11-11 22:13] paxperscientiam commented on #168
If you're interested, I have a hunch why their might be a problem with NPM installed version working. I installed NPM via Macports and as such my global modules require sudo to update. But that's just a guess.

[2015-11-11 22:16] lemavri commented on #168
To be honest, the NPM version is not very reliable right now and the stand-alone version is recommended (which I see you installed it, though).

[2015-11-11 22:27] lemavri commented on #168
Woops. I'm sorry again, I forgot to warn you about that. I learnt the hard way to remove my headphones prior to running any test 🙄.

[2015-11-11 22:27] #168 closed

[2015-11-12 01:54] paxperscientiam commented on #168
OK, after some digging, I'm noticing a few potential minor issues.

When device location is requested from the online Control Panel by either clicking the "Update Location" button or by refreshing the webpage, the "last seen" response fails to update even though the Control Panel reports "device reached" and "got location." That said, sometimes those responses are followed by a failure to locate r

[2015-11-12 10:07] lemavri commented on #168
Until version 1.4.2 the Prey client was connecting to our servers via intervals. Starting from the next release (most likely we'll make the jump to 1.5.0), Prey will use a completely different approach to the way it connects to our servers, which solves the delayed location issue you mention and a few other user experience related problems, also allowing for responsive and stable behaviour.

[2015-11-12 13:46] r3code commented on #58
@lemavri I was poiting to the MSI source code not the MSI binarry installer. There is no MSI script which builds the installer binary in the source of prey-node-client. It was here https://github.com/prey/prey-node-client/releases/tag/v1.0.0 in the folder dist/windows.

[2015-11-12 19:08] paxperscientiam commented on #168
Ah, thanks for the explanation,  lemavri.

[2015-11-13 04:21] xmodulo commented on #51
Same problem on Fedora 21.  It's been a while, and still no update?

[2015-11-14 10:46] WolfangAukang opened #169 "Error trying to execute "prey config [gui]""
Hello, I have an issue trying to execute prey on Fedora 22. Following the instructions on README.md, it says to execute after the installation through npm the command "prey config [gui]". Although, I received the following error:

[pedro@eyjafjallajokull bin]$ prey config

module.js:340
    throw err;
          ^
Error: Cannot find module '/usr/bin/lib/node_modules/prey/lib/conf/cli.js'
    at Fun

[2015-11-16 19:44] fanuneza opened #170 "Add support for the latest openSUSE"
[code]

[2015-11-16 19:45] #170 closed

[2015-11-16 21:00] markdrayton247 commented on #161
there is none.

[2015-11-16 21:03] lemavri commented on #161
In that case, could you please run the following commands and see if you can complete the configuration process?

`sudo cp /usr/local/lib/prey/versions/1.4.2/prey.conf.default /etc/prey/prey.conf`
`sudo chown prey:wheel /etc/prey/conf`
`sudo /usr/local/lib/prey/versions/1.4.2/bin/prey config gui` (It takes a few seconds to load the gui).

[2015-11-16 21:48] markdrayton247 commented on #161
yes that works, thanks
2nd line should be: sudo chown prey:wheel /etc/prey/prey.conf
(however i still can't locate the device, which is why i tried reinstalling..)

[2015-11-16 21:51] lemavri commented on #161
Thanks, I fixed my previous comment.

What is the `/var/log/prey.log` file showing?

[2015-11-16 22:03] markdrayton247 commented on #161
nothing, empty

[2015-11-16 22:04] lemavri commented on #161
What about `ps aux | grep prx`?

If the previous command returns nothing, then try the following: `sudo launchctl load /Library/LaunchDaemons/com.prey.agent.plist` and check the config file again.

[2015-11-16 22:07] markdrayton247 commented on #161
/Library/LaunchDaemons/com.prey.agent.plist: No such file or directory

[2015-11-16 22:11] lemavri commented on #161
Ok, so let's try running the post_install hooks: `sudo /usr/local/lib/prey/versions/1.4.2/bin/prey config hooks post_install`, and then try again to load the agent plist.

Thanks for your patience, by the way.

[2015-11-16 22:15] markdrayton247 commented on #161
Running "config activate" as prey
--
Error running command: spawn EACCES
--
 -- This is probably because the new `prey` user does not have
 -- read and exec access to the full path: /usr/local/lib/prey/versions/1.4.2/bin
Error! Command failed:

plist still no such file... thanks for helping

[2015-11-16 22:17] lemavri commented on #161
Ok, so let's ensure the `prey` user does have access to the full path, with the following command:

`sudo chown -R prey:wheel /usr/local/lib/prey`

and then re-run the `sudo /usr/local/lib/prey/versions/1.4.2/bin/prey config hooks post_install` command.

[2015-11-16 22:27] markdrayton247 commented on #161
Running "config activate" as prey
--
Error running command: spawn EACCES
--
 -- This is probably because the new `prey` user does not have
 -- read and exec access to the full path: /usr/local/lib/prey/versions/1.4.2/bin
Error! Command failed:

[2015-11-16 22:28] lemavri commented on #161
That's really weird. I'll have to give it a closer look and get back to you later.

[2015-11-17 16:17] lemavri commented on #161
@markdrayton247 In a brief moment of brightness I came up with an idea. Could you please try running this? `sudo -u prey ls -al /usr/local/lib/prey`

[2015-11-17 17:17] markdrayton247 commented on #161
ls: /usr/local/lib/prey: Permission denied

(yes I did sudo)

On 17 November 2015 at 16:17, Mauricio Schneider <notifications@github.com>
wrote:

[2015-11-17 17:20] lemavri commented on #161
Ok, that was the intended output.

Could you please try running these:

`sudo chown $(whoami):admin /usr/local/`
`sudo chown $(whoami):admin /usr/local/lib`
`sudo /usr/local/lib/prey/versions/1.4.2/bin/prey config hooks post_install`

[2015-11-17 17:22] markdrayton247 commented on #161
ends with:

Running "config activate" as prey

--

Error running command: spawn EACCES

--

 -- This is probably because the new `prey` user does not have

 -- read and exec access to the full path:
/usr/local/lib/prey/versions/1.4.2/bin

Error! Command failed:

On 17 November 2015 at 17:21, Mauricio Schneider <notifications@github.com>
wrote:

[2015-11-17 19:04] lemavri commented on #161
Does it end with error this time? If not, could you check if there's a .plist now?

`sudo launchctl load /Library/LaunchDaemons/com.prey.agent.plist`

[2015-11-17 19:18] markdrayton247 commented on #161
yes, no plist exists. error is :
Error running command: spawn EACCES
--
 -- This is probably because the new `prey` user does not have
 -- read and exec access to the full path: /usr/local/lib/prey/versions/1.4.2/bin
Error! Command failed:

[2015-11-17 19:29] lemavri commented on #161
Perhaps it's a problem with the Prey user, what happens if you run this:

`sudo /usr/local/lib/prey/versions/1.4.2/lib/conf/tasks/utils/create_user.sh prey`

[2015-11-17 19:30] lemavri commented on #161
Also, could you please re-check what are the permissions for the following folders:

`ls -al /usr/ | grep local`
`ls -al /usr/local | grep lib`
`ls -al /usr/local/lib | grep prey`

[2015-11-17 19:33] markdrayton247 commented on #161
the create_user script gives:
prey user already exists!
prey already seems to have impersonation privileges. Skipping...
---
drwxr-xr-x     8 markdrayton  admin    272  4 Nov 11:46 local
drwx------   4 markdrayton  admin  136 16 Nov 20:16 lib
drwxr-xr-x  3 prey         wheel  102 16 Nov 20:16 prey

[2015-11-17 19:36] lemavri commented on #161
Could you please run `sudo chmod 755 /usr/local/lib` and then retry `sudo /usr/local/lib/prey/versions/1.4.2/bin/prey config hooks post_install`?

[2015-11-17 19:46] markdrayton247 commented on #161
now we're getting somewhere :

Running post_activate hooks...

Voila! All good.

--

Installing init scripts.

Sweet! Please run `prey config gui` to finish installation.

Voila! All good.

On 17 November 2015 at 19:36, Mauricio Schneider <notifications@github.com>
wrote:

[2015-11-17 19:50] markdrayton247 commented on #161
ran the gui, all seems cool now, preyproject can connect to this machine.

I'm not sure how I got into such a mess, but you are a patient and very
helpful man. thank you sir.

On 17 November 2015 at 19:46, Mark Drayton <markdrayton@gmail.com> wrote:

[2015-11-17 20:22] lemavri commented on #161
On the contrary; you sir are the hero, thank **you**. This helped me identify an edge case which caused this issue. Now I'll be able to fix it in our next release.

[2015-11-22 19:59] lcottereau opened #173 "`xhost: unable to open display` on Ubuntu 15.10"
Here is the error I get when I try to install the debian package on Ubuntu 15.10. It used to work on 15.04. I tried playing with the `$DISPLAY` variable for both root and my *normal* user, to no avail.

[code]

[2015-11-23 23:04] sevenlayercookie commented on #161
Just wanted to say that I had this problem also with 1.4.2 on El Capitan, installing Prey for the first time ever. I followed your instructions in the last few posts and it fixed my problems. Thanks!

[2015-11-30 04:21] yashendra2797 commented on #100
Hey @itsknowone @lemavri I'm facing the same problem with Little Snitch. I install Prey, but after installing I get the notification '"Inoming connection denied for node" around 10 times and that's it. When I  open the Prey Control Panel, my Macbook Air is visible, but it can't track the location. It can play a noise and display messages properly though. It showed the location the first time (thou

[2015-11-30 05:11] itsknowone commented on #100
@yashendra2797

Looks like there will be an update hopefully fixing the annoying notification. But at this point, I don't think there is any fix.

[2015-11-30 09:48] yashendra2797 commented on #100
@itsknowone Cool. Thanks!

[2015-11-30 10:25] lemavri commented on #100
The fix is in https://github.com/prey/prey-node-client/blob/master/lib/agent/providers/network/index.js#L126-L168. I'm currently working in the release which includes this and many other improvements.

[2015-12-12 22:08] mef commented on #45
Hi there, I know this issue is closed but I have the same problem on my linux distro (bunsenLabs, debian based)

The `Error! Invalid os:  does not exist.` error message shows up both on node.js cli and gui config.

[code]

[code]

prey version: 1.4.2

It would perhaps be more sustainable to have a dynamic way of identifying linux distributions, instead of a hard-coded list...

[2015-12-13 14:11] Monochrome001 commented on #161
Hi everyone,

Could it possible for one of you to do "beginner" tutorial for that operation ? I'm also on El Capitan, I've got the same problem, but I'm lost with these instructions, even if I understood that all of that are commands to input in Terminal.

Thank you all

[2015-12-13 14:14] lemavri commented on #161
Hello @Monochrome001, I'll be releasing 1.5.0 on Wednesday and the OS X installer will include the extra permissions instruction needed for El Capitan.

[2015-12-13 14:18] Monochrome001 commented on #161
Thank you !

[2015-12-18 10:27] leeyuentuen opened #178 "Linux 15.04 no hardware information showed"
Logfile

[code]

see screenshot as results
good one in windows
![prey_ok](https://cloud.githubusercontent.com/assets/1487966/11894781/c9d26ff2-a579-11e5-9089-184cf9e3b7b8.png)
bad one in linux, there is no service tag for our laptop
![prey_bad](https://cloud.githubusercontent.com/assets/1487966/11894784/cbaabca8-a579-11e5-9d51-1ea4be1bdbcb.png)

[2015-12-19 19:12] joshknopp commented on #58
Any action on this lately? The 0.6.4 installer is no longer available. I would love to get a version of Prey, any version, installed.

[2015-12-22 15:34] lemavri commented on #161
This issue is fixed in the Prey v1.5.0 Mac OS X installer being released in a few minutes.

[2015-12-22 15:34] #161 closed

[2015-12-25 20:20] yashendra2797 opened #179 "Prey v1.5.0 + Little Snitch seems to kill Internet after ~10 minutes, forcing me to restart WiFi on my computer"
Running OS X El Capitan 10.11.3 Beta (15D9c) on my MacBook Air (13-inch, Mid 2013)

It seems that the problem crops up when I upload something (Google Photos Updater, Transmission). Internet gets disabled every ~10 minutes forcing me to restart WiFi from the menu bar, which fixes it for another 10 minutes. Problem came 2-3 days ago after Prey updated, and it disappeared when I uninstalled Prey.

[2015-12-26 01:18] robflate opened #180 "Prey v1.5.0 Mac. Unable to initialize. Service exits error code 11."
Noticed my Retina Macbook Pro (10.11.2) was unavailable on Prey website. Installed Prey 1.5.0 and it briefly appeared then became unavailable. Console log shows;

[code]

every 10 seconds then finally shows;

[code]

Is this a bug or something specific about my setup? Thanks.

[2015-12-28 18:37] manuelmeurer opened #181 "OS X El Capitan, cannot connect to Prey server after installing v1.5.0"
I noticed my Mac said "last seen 3 months ago" in the Prey panel, and saw [this error](https://github.com/prey/prey-node-client/issues/147) in my system log, so I installed Prey 1.5.0. The installation went fine, however when the "Prey Configurator" (Python) was launched, I couldn't log in with my credentials. It would take a long time and finally a popup with only "(502)" would appear.
When I try

[2015-12-28 18:39] raliste commented on #181
Service was down for 1 hour and 47 minutes. Is back up as of this writing.

[2015-12-28 18:44] manuelmeurer commented on #181
Thanks, Rodrigo, it works now!
Is there a status page where one could check for scheduled maintenance in such a case in the future?

[2015-12-28 18:44] #181 closed

[2015-12-28 21:43] raliste commented on #181
Yes @manuelmeurer !. We recently updated our public status website and it's available at https://preyproject.statuspage.io/

[2015-12-28 22:16] manuelmeurer commented on #181
Sweet, thanks! :+1:

[2016-01-07 16:14] geoff-wark opened #183 "Prey 1.5.0 stops tracking after reboot on GalliumOS"
I have been having trouble getting Prey to work on [GalliumOS](https://galliumos.org/) (based on Xubuntu 15.04) and have tried installing from multiple sources including: Apt, .deb, npm, npm pulling from this GitHub repo. . . . The furthest I get is with npm from GitHub which will work as expected after 'prey config gui'. At this point, all functionality is there and I can verify the info from Pre

[2016-01-07 16:17] raliste commented on #183
Hi @geoff-wark,

Would you be able to send a copy of the **/var/log/prey.log** file?

[2016-01-07 17:35] geoff-wark commented on #183
Well, this is peculiar. After this install, things seem to be working fine (rebooted twice to check). For completion's sake, attached is a copy of my prey.log.

[prey.log.txt](https://github.com/prey/prey-node-client/files/81471/prey.log.txt)

Sorry to bother. Thanks for the speedy reply. I think my issue may have mostly stemmed from not running 'sudo prey config hooks post_install' after the inst

[2016-01-07 18:08] raliste commented on #183
It's a good thing is now working for you, and you might be just right about the post_install hook.

Don't hesitate to add a new issue should you encounter any other problem. Have a great day!

[2016-01-07 18:16] #183 closed

[2016-01-09 15:46] beniwtv opened #185 "Support for SteamOS"
Hi,

I'd like to use prey on my expensive gaming rig :)
However, I get "Error! Invalid os:  does not exist." when configuring.

$ lsb-release -a
No LSB modules are available.
Distributor ID:	SteamOS
Description:	SteamOS 2.0
Release:	        2.0
Codename:	brewmaster

$ cat /etc/issue
SteamOS GNU/Linux 8 \n \l

Thanks!

[2016-01-09 19:49] renanmarks commented on #178
Same problem, but even worse: only gets cpu info.

![prey](https://cloud.githubusercontent.com/assets/273643/12218022/dd0c73aa-b6f0-11e5-9653-a22de5fa514f.png)

[2016-01-11 01:34] luzfcb commented on #159
same problem here

[2016-01-11 14:17] boris commented on #185
Hi @beniwtv,

I've just summited a pull request with the fix to this issue. Should be in production later today.

Thanks.

[2016-01-11 14:51] boris commented on #185
@beniwtv the fix for this issue is already in production. Please check again and feel free to open an issue if you have further problems

[2016-01-11 14:51] #185 closed

[2016-01-13 18:48] raliste opened #186 "v1.5.0: graceful shutdown after initial config"
Agent shutdowns after successful configuration via GUI.

prey.log shows:

[code]

[2016-01-13 19:01] #186 closed

[2016-01-16 08:17] steakknife commented on #180
`1/16/16 12:02:06.882 AM com.apple.xpc.launchd[1]: (com.prey.agent[92]) Service exited with abnormal code: 11` here too.

[2016-01-17 16:35] muranyia commented on #159
Same here

`
$ prey config gui
No command 'prey' found
`

[2016-01-17 16:38] muranyia commented on #153
Same here, Ubuntu 14.04.3 amd64

[2016-01-24 00:50] missionrulz opened #189 "OSX Yosemite (10.10.3) Prey 1.3.9 - Never receives information from control panel"
Doing a fresh install of Prey on OSX, the device is successfully registered against my account but never seems to connect to the control panel for updates and you cannot send actions to the device.

[code]

[2016-01-24 12:51] muranyia commented on #153
Another part of the problem is that it leaves the Ubuntu software installer in a state that every day it tries to finish the installation of Prey and then fails.

Interestingly, Prey does not appear in the list of Software Updates, the failure happens at the end of the update process though.

[2016-01-28 17:20] wayneward opened #190 "ubuntu touch npm install finds device"
Ive managed to get prey running and device is being found in control panel but never finding location, im sure its to do with not mapping the external port. I tried IPTABLES -L and there doesnt seem to be any rules that would stop this. I also made sure prey was a sudo user to alllow scan of iwlist scan command - below is the log file - is there any way i can run tests? ive checked the conf file a

[2016-01-31 00:33] beniwtv commented on #153
Same problem on SteamOS.
In SteamOS, the "DISPLAY" environment variable is "DISPLAY=:1".

However, the error mentions :0.0, so Prey does not appear to honor the env variable, but rather it seems hard-coded.

[2016-01-31 22:54] casenjo commented on #180
Got the same message, I haven't been able to get it tracking on the website.
I tried uninstalling it completely, then rebooting, and then reinstalling it but that didn't fix much. The abnormal code message is gone but on my control panel I get the message "Unable to get the devices location on time.". When I run

[code]
it prints out the JSON data for the location just fine though.

On a 2012 MBP

[2016-02-04 01:10] dlorr opened #191 "prey, slitaz light-linux, and getos errors"
hello prey team

i'm a little done to fight with prey errors on slitaz 3/5.0.

[please note that slitaz is a very lightweigh distro, in less than fifteen minutes you can have it on vbox/vmware to try to see what's wrong..]

yes, this evening i tried to search one time more how to run prey on my slitaz computer

instead of installing using npm, i firstly downloaded the debian package
so i used tazp

[2016-02-04 01:11] dlorr commented on #191
([.]) have been removed from paste

[2016-02-04 08:12] aairey commented on #169
Same on Fedora 23.

@WolfangAukang: thanks for providing the workaround.

[2016-02-05 00:49] kraftykaela commented on #161
I have installed Prey v1.5.0 on El Capitan and I still get the same "Empty or outdated config file. Please run 'config activate' and retry." when trying to log in (see attached screenshot).
![screen shot 2016-02-04 at 6 47 58 pm](https://cloud.githubusercontent.com/assets/17075495/12834791/fbd8d3a8-cb6f-11e5-957f-55406769afc7.png)

[2016-02-05 08:58] jagga99 commented on #58
Confirmed, same issue on windows 10 Russian x64.
Please help Russian user to get Prey on their PC.

[2016-02-06 18:04] errollgarner commented on #169
Same issue in Fedora 21 and the same fix also works.
Thanks @WolfangAukang !

[2016-02-06 18:17] SebCorbin opened #192 "Failed to write daemon on OS X El Capitan"
Mac OS X El capitan 10.11.2 (15C50)
Prey 1.5.0

`[/usr/local/lib/prey/current] $ sudo ./bin/prey config hooks post_install`

No command is printed
Daemon is not installed

[2016-02-20 16:31] ylot0 commented on #153
gksu:4708): Gtk-WARNING **: cannot open display: :0.0
dpkg: error processing package prey (--install):
subprocess installed post-installation script returned error exit status 1

[2016-02-27 02:19] indam commented on #156
I have the same problem with version 1.5.0

[2016-02-27 23:07] dragonauta opened #193 "Slackware, couldn't get distro version"
Hi, I have Slackware 14.1 with KDE.
I installed prey 1.5.0 using NPM and encountered some issues (maybe my mistakes).

Installed with npm as root and then I ran `prey config hook post_install`. OK.

Running `prey config gui` as root (or sudo) won't bring up the GUI, just a message: Firing up config GUI!

Running as normal user, I can get GUI but I can't write data to `/etc/prey/prey.conf`; so I ch

[2016-02-29 07:36] peterhoeg commented on #120
@tomas, the version available via npm (1.3.9) is far out of date again.

[2016-02-29 16:12] raliste commented on #120
@peterhoeg we will be updating the updated versions (1.5.0 and 1.5.1) early next week.

[2016-03-24 22:19] cdipietro opened #194 "prey_1.5.0_amd64.deb installer is not working for Debian 8"
Hi,

I have a 64 bits Debian 8 with Gnome 3. I have tried to install Prey 1.5.0 using the [.deb installer](https://github.com/prey/prey-node-client/releases/download/v1.5.0/prey_1.5.0_amd64.deb) as follows:

[code]

But at this point, it appears a small window saying:

And after closing it, the installation process concludes as follows:

[code]

So far I am still unable to install the program by u

[2016-03-29 15:51] alvarolm commented on #69
I'm having excactly the same issue on fedora 20 latest version, os just updated

[2016-03-31 06:47] renozao opened #197 "Installation on Ubuntu 15.10 fails"
I believe it is the same error as #173

Installation fails and ends with the following:
[code]

I can solve this by doing `xhost +local:root`.

But the GUI does not start although it says:

[code]

Then I can only run the configuration using `python2` but not as sudo, which prevents from accessing the configuration files.
So overall quite not working as intended.

Is this a known issue?
Thanks

[2016-04-07 14:11] alberthdev commented on #194
I can also confirm that the latest 1.5.1 release of Prey does not install correctly, either... same output as above (trimmed to just show the end):

    Running "config activate" as prey
    --
    Ensuring presence of config dir: /etc/prey
    Syncing /etc/prey/prey.conf with /usr/lib/prey/versions/1.5.1/prey.conf.default
    Setting up this as current...
    Warning: This version is already set

[2016-04-09 03:48] mhalano opened #198 "Prey 1.5.1 regression"
Hi!

I found a regression (I tested and this is confirmed) in Prey 1.5.1, on postinst script.
The line was missed:
env DISPLAY=:0.0 gksu -u $PREY_USER "$PREY_BIN config gui"
There this line on place:
DISPLAY=:0.0 su $PREY_USER -c "$PREY_BIN config gui --check-file $TEMP_OLD_CONFIG"
Was a comment about this bug and in the new version was missed (comment, workaround and so on). So IMHO that's a clas

[2016-04-09 03:50] mhalano commented on #194
@alberthdev
What you mention is a separated bug (a regression, actually) and I already submit a issue report about that.

Cheers!

[2016-04-13 11:36] Skoddd commented on #85
I have the same error:

---------------------------
Prey Configurator
---------------------------
Linking device...
Error! Invalid hardware.base: At least one of the following is required: uuid serial_number bios_vendor

---------------------------
OK
---------------------------

lenovo y50, w 8.1, prey 1.5.1

[2016-04-13 11:40] Skoddd opened #199 "At least one of the following is required: uuid serial_number bios_vendor"
---- ACTION DETAILS ----

Action Performed:
1. Go to https://panel.preyproject.com/signup and create a new user profile;
2. Download Prey installation file v.1.5.1 for Windows 8.1
3. Run the installation file of the file v.1.5.1 ;
4. When prompted by Prey Configurator to choose between installation as New User or Existing User, check Existing User and push Next button;
5. Fill in the fields with y

[2016-04-20 20:11] raliste opened #200 "Lock action is not enabled at startup after a reboot (Windows)"
Some Prey actions have the `persistent` attribute that indicates the agent that the action should be stored on local storage and re-run at initialization time, ie. after a reboot.

The lock action has this attribute and it's indeed re-run as soon as the Prey agent starts, but, the `prey-lock.exe` is not able to display the lock screen for most cases, as the display(s) may not be ready at the by th

[2016-04-21 15:56] javo commented on #194
Hi @cdipietro, I succeeded installing prey 1.5.0 in a 64 bits Debian 8 system.

[code]
...
[code]

Try removing that version and installing the 1.5.1 with all the necessary dependencies and then let me know if it worked. :)

[2016-04-26 19:19] kallisti5 opened #201 "Prey 1.5.1 deb install fails on Ubuntu 16.04"
[code]

[2016-04-28 10:29] deepdivingspearo commented on #197
I can confirm this behaviour on Ubuntu Gnome 15.10.

[2016-04-28 11:39] javo commented on #201
Hey @kallisti5,
We're trying to figure out what is causing this issue, that error is due to a dependencies problem.
For now i recommend you to purge prey:
[code]
Then install the necessary dependencies
[code]
And finally reinstall prey. Try that and please let me know how it went, it would help us a lot to figure out what's happening

Thanks!

[2016-04-28 19:00] CandricS commented on #201
I'm having the same issue. However, those dependencies were already installed because when I run it I get the following:

~$ sudo apt-get install python-gtk2 scrot mpg123 streamer
Reading package lists... Done
Building dependency tree
Reading state information... Done
python-gtk2 is already the newest version (2.24.0-4ubuntu1).
python-gtk2 set to manually installed.
mpg123 is already the newest ve

[2016-05-01 10:26] Piratmac commented on #51
Hello,

I confirm the bug is still there on Fedora 24 (kernel 4.4.8-300.fc23.x86_64)

Regards,
Piratmac

Extract of log:

Setting permissions on /etc/prey
chowning /etc/prey/prey.conf to uid 983 and gid 976
chowning /etc/prey to uid 983 and gid 976
Setting permissions on /var/log/prey.log
chowning /var/log/prey.log to uid 983 and gid 976
Running "config activate" as prey
--
Ensuring presence of co

[2016-05-04 09:31] zer09 opened #202 "Lock screen can be remove even without a password on windows"
Step to replicate:

- Active "Lock device".
- Now the device is locked.
- Reboot the machine after log-on the you can still access the desktop for a few seconds, then it will lock-up.
- Hit CTRL+Del then you are in the log-screen, press "Log off", then the user will log off.
- Now log-in with the same account, the prey-lock screen is unlocked.

Versions:
Windows 7 x64.
Prey 1.5.1

[2016-05-04 11:13] cyaconi commented on #202
Hi @zer09

Thanks for your feedback. We were able to reproduce it, and it's currently being solved.

We expect to release the fix with version 1.5.3.

Best,

[2016-05-05 23:06] noex869 commented on #201
Looks like the following line is failing causing the error code (1)
`DISPLAY=:0.0 su $PREY_USER -c "$PREY_BIN config gui --check-file $TEMP_OLD_CONFIG"`

Setting the shell(because prey's default is /bin/false) prevents the error but does not launch the gui
`DISPLAY=:0.0 su $PREY_USER -s /bin/bash -c "$PREY_BIN config gui --check-file $TEMP_OLD_CONFIG"`

For now I just commented out that line and r

[2016-05-07 13:43] derekyerger commented on #153
To get rid of the repeat attempt to configure prey every time packages are installed/upgraded, edit the file `/var/lib/dpkg/info/prey.postinst` by remarking the following line:
[code]
Additionally, as stated above, the configuration script can be run from a normal (non-elevated) prompt.

[2016-05-16 18:24] bhovell2 opened #204 "enough already"
Hi, Tomas ...

You will recall I forwarded corrections (authored by others) for the post-install script which did fix the persistent package install failures for prey on version 15.x Ubuntu.

However, I've just installed the new Ubuntu 16.04 version and the same behavior is back again, even when the fixed script replaces the stock one. This is once again what happens every time I run apt-get as th

[2016-05-16 18:36] raliste commented on #204
I would do the same, but please don't lose hope on us. The team changed
recently and we are already working on updating our distribution infra so
that we can fix this and streamline the release process.

In the mean time, have you tried installing prey via npm?
El 16-05-2016 15:26, "bhovell2" <notifications@github.com> escribió:

[2016-05-16 18:48] bhovell2 commented on #204
I don't see that as a selection choice on the prey menu.

[2016-05-16 18:51] #204 closed

[2016-05-17 11:04] dcrystalj commented on #129
I have same problem on ubuntu 16.04. I downloaded ```prey_1.5.1_amd64.deb``` and run ```sudo dpkg -i prey_1.5.1_amd64.deb```
it didn't met dependencies so i run ```sudo apt-get -f install```

at the end i get error
[code]

[2016-05-17 19:09] andyrichardson opened #206 "Linux prey-agent service inconsistent"
The prey-agent service that runs on startup fails to return a location and presenting messages from the control pannel doesn't always happen. On the contrary, when running prey inside the terminal as a process, all these issues are no longer existent.

Version: 1.5.1
OS: Fedora 23

[2016-05-19 09:05] john-francis96 commented on #129
I'm having this exact problem as well. I'm using Ubuntu 16.04 LTS and prey version 1.5.1

[2016-05-19 11:14] serge555 commented on #58
Guys I've found the sollution, try to change local language from Russian to English (USA) and there it is! Works fine for me. Change the language back to Russian after the installation.

[2016-05-22 04:01] bhovell2 commented on #201
Having recently given up on prey for Ubuntu, I continue to wonder at comments by the developers which suggest they've never actually installed prey on a native Ubuntu box (or VM) and tested it themselves. Having to continuously ask users to offer suggested solutions to the same problems repeatedly reported from version to version is odd enough.

But even stranger is that fixes suggested to solve p

[2016-05-22 07:06] TechnoDexx commented on #58
@serge555 And I have no such opportunity. @fanuneza  Could not make the support of the Russian language, too? If not why???

[2016-05-22 23:43] raliste commented on #201
The point is that those fixes should make it to the latest package.

The real issue here, as I see it, is velocity. We are not being able to answer nor fix issues at the expectations that I think all of us share. I would like to see us, the core developers, answering and fixing things promptly, but I've to use the "we are small team" card as we are working on a lot of things at the same time. I ca

[2016-05-22 23:48] raliste commented on #206
Thank you for reporting @andyrichardson.

I'll update this issue as soon as we get more information from testing.

[2016-05-23 06:50] r3code commented on #58
@serge555 What do you mean by "local language"? Change keyboard language or change system wide language with MUI?

[2016-05-23 08:34] serge555 commented on #58
@r3code language for programs that not support unicode codepage.

Панель управления - Язык и региональные стандарты - Дополнительно - Язык программ не поддерживающих юникод - Изменить язык системы.

[2016-05-24 21:12] TechnoDexx opened #207 "Corrupted(?) distro on Prey Project Add New Device Page"
@fanuneza Houston, we have another problem: we have different filesize between distro on github (7,85 MB) and distro on Prey Project Add New  device page (7,08 MB). Distro with 7.08 MB filesize not running with NSIS Error (script cannot self-checking)

[2016-05-24 21:19] #207 closed

[2016-05-27 12:43] ez2torta commented on #129
Having same problem, running Linux Mint 17.3 Rosa

[2016-05-27 14:20] raliste commented on #129
Guys, we have finally sat down, put our things together, detected the problem and already working on a fix. Should be ready by next week.

[2016-05-27 14:22] raliste commented on #197
Thank you for reporting. Already working on a fix.

Reported by #129, #198, #197, #194

[2016-05-27 21:45] #106 closed

[2016-05-27 21:47] #97 closed

[2016-05-28 06:21] bhovell2 commented on #201
I really don't know why I keep fooling with this except it's frustrating that every version seems to break in just one slight way or another on recent ubuntu versions.

Since I discovered there is now an "official" version of prey in the ubuntu repository, I decided to try that one.  Hope springs eternal.

I followed the instructions above to completely purge, reload dependencies, then reinstall p

[2016-05-28 10:24] Chejone commented on #45
Hello, can you please add Jolla Tablet? :)

Mer release 0.2011 (Mer)
BUILD: Jolla-2.0.0.10-tbj-i486

[nemo@Jolla ~]$ lsb_release -a
LSB Version: :core-3.1-ia32:core-3.1-noarch:core-3.2-ia32:core-3.2-noarch:core-4.0-ia32:core-4.0-noarch:desktop-3.1-ia32:desktop-3.1-noarch:desktop-3.2-ia32:desktop-3.2-noarch:desktop-4.0-ia32:desktop-4.0-noarch
Distributor ID: #Thisfileiscopiedashw-release(analogoust

[2016-06-02 15:34] ghost opened #209 "Partial screenshots when text size is increased on Windows"
# Problem

Prey can't grab full screenshots if you change the text size settings on Windows 10. You can find such setting under `System Configuration > Screen > Change the size of text, apps, and other items`.

This is supposed to be a 1980x1080 screenshot.

![screenshot original](https://cloud.githubusercontent.com/assets/401279/15750845/502a035e-28be-11e6-9afb-a2b557c1953e.jpg)

Ref: https://sec

[2016-06-03 10:00] Skoddd commented on #199
thanks for the responses guy, you've been really helpful !

[2016-06-18 07:42] yashendra2797 opened #214 "Prey doesn't work on macOS 10.12 Sierra"
My device hasn't been connected to Prey's servers since yesterday, when I installed the Developer Beta.

I'm running Mac OS Sierra v10.12 Beta (16A201w) on my MacBook Air (13-inch, Mid 2013)

Let me know if you need some logs or need me test something out.

[2016-06-18 19:13] raliste commented on #214
Hi @yashendra2797, could you attach the /var/log/prey.log if any?

[2016-06-18 20:13] yashendra2797 commented on #214
Hmmm. There doesn't seem to be any.

![Screenshot of /~/Private/var/log/ folder](https://cloud.githubusercontent.com/assets/8304724/16173419/d5679eac-35be-11e6-822b-22716a27a0dc.png)

[2016-06-18 20:40] raliste commented on #214
It probably didn't install in spite of the installer claiming it did. We are actually reviewing this issue and we should hopefully have an update by next week.

[2016-06-20 12:51] jonwreed commented on #161
It would be great if this could be fixed, I am NOT entering sudo commands on my machine. But if this can ever be fixed by uninstalling and reinstalling let us know. Thx.

[2016-06-21 20:29] raliste commented on #201
New version 1.6.1 should fix this issue. We would really appreciate your test results with the new installer available at https://github.com/prey/prey-node-client/releases/tag/v1.6.1

[2016-06-21 20:58] CandricS commented on #201
Version 1.6.1 seems to work fine. Thanks.

I'll report if I come across any issues.

[2016-06-21 22:16] bhovell2 commented on #201
Hi, Rodrigo ...

OK, this version 1.6.1 appears to have installed on Ubuntu without
failure.

However, it's been awhile since I last installed this on Ubuntu and
there are no visible instructions how to actually get the setup
completed. I remain a bit astonished how much the Prey version for
Ubuntu seems like a kit car delivered without assembly instructions.
Generally they would be mentioned in t

[2016-06-21 22:24] raliste commented on #201
@bhovell2 after the install process a GUI for configuration should pop up. If that wasn't the case you could try running `prey config account setup` with sudo, which will guide you through the process of attaching your device to your account.

[2016-06-21 23:44] bhovell2 commented on #201
Hi, Rodrigo ....

You might want to mention this in the README. I've never seen a pop
up in this (or I think any pervious) version.

Also, this is the ouput I get:

Is that what's expected?

Also, there's nothing mentioned in the README about the necessity to
manually configure the file /etc/prey/prey.conf

Is that supposed to happen automagically also?  I did add my API, so
this is what's now in

[2016-06-21 23:53] raliste commented on #201
[code]

[2016-06-22 01:18] bhovell2 commented on #201
|

Hi, Rodrigo ...

|

|||
IMO, you should to explicitly provide all these manual install
instructions in the READEME (at least for Ubuntu). Relying on
automation alone is probably going to create a lot of confusion for
people. And that only assumes they know where to go look.

That said, running the command you provided did get the device
registered on the website.

||||However, when I tried to u

[2016-06-22 01:28] bhovell2 commented on #201
My mistake, Rodrigo ...

I should have shown:

[....]

I then hit Control-C to end the session

[2016-06-23 18:39] bhovell2 commented on #201
Hi, Rodrigo ...

After fussing around a bit with this installation, I put in a cron
job to run prey every 20 minutes and direct output to the
/var/log/prey.log file. Now tested and everything is apparently
working flawlessly when I set the device to "lost" in the dashboard.

Good job!  And thanks for getting that fix in place.
--
*Bud Hovell*

If you aren't taking flak, you aren't over the target.

[2016-06-25 00:40] redandgold45 opened #218 "Can't install prey on osx el capitan 10.11.4"
I've tried to install prey at least a dozen times, but every time I go to check the device dashboard on the website, it says the device is unavailable.

[2016-06-25 01:18] raliste commented on #218
Hi @redandgold45,

Was your problem recent, say, today? We had a slight server outage a couple of hours ago that didn't allow dashboard-device communication.

[2016-06-25 15:51] paxperscientiam opened #219 ""Error! Unable to verify keys" and other oddities (v 1.6.1 on OSX 11.11.5"
Hello all,

I'm currently running into issues with v. 1.6.1. The Control panel simply cannot reach my device -- except when I run "prey config gui" and go through the process. After which, the Control panel does connect with my device; however, further attempts to send commands to my device or locate my device fail.

When I run the command "prey config check", prey outputs "Checking installation.

[2016-06-27 03:55] alberthdev commented on #194
Seems to be fixed on Debian 8, with the latest 1.6.1 version.

[2016-06-30 16:32] tonsequitur commented on #161
I am having the same issue and need some clearer instructions too please.
After installing, I try to sign in with my existing account and get:
"Empty or outdated config file. Please run 'config activate' and retry."

I was able to install on my macbook OK: Yosemite 10.10.1
However, I am getting this error on my iMac: Yosemite 10.10.5

[2016-07-01 15:13] tonsequitur commented on #161
followup: There was a permission issue for sudo so that Prey could not write to the system files. I couldn't fix the sudo permission problem so I upgraded to El Capitan and then the install worked fine.

[2016-07-01 17:19] jonwreed commented on #161
For the record being on El Capitan doesn't necessarily solve this problem. It's a serious open issue and in my case is happening on El Capitan Therefore the laptop I use the most and pay for is not protected by Prey. I hope this can be fixed in an updated release soon. Thanks.

[2016-07-01 19:04] cyaconi commented on #161
Nice discovery @tonsequitur, prey user should have permission to access the config file once the installation ends.
@jonwreed Can you share the content of file /etc/sudoers.d/50_prey_switcher, if exists?

[2016-07-01 22:20] nachimir commented on #180
Currently getting the same log message with Prey 1.6.1 and El Capitan 10.11.5

`01/07/2016 23:04:00.247 com.apple.xpc.launchd[1]: (com.prey.agent[86]) Service exited with abnormal code: 11`

Prey can install successfully, runs, but after a reboot reinstalling Prey seems to be the only way to get it running again.

[2016-07-05 17:14] javo commented on #161
Hello @tonsequitur and @jonwreed
I believe I've found the cause of this issue but I need some confirmation. Could you check you perrmissions for the following folders please:
`ls -al /usr/ | grep local`
`ls -al /usr/local | grep lib`
`ls -al /usr/local/lib | grep prey`

Thanks!

[2016-07-08 16:20] javo commented on #218
Hello @redandgold45, were you able to contact with your device?. Please let us know if you still are having troubles.

[2016-07-08 16:30] javo commented on #201
This issue is solved installing 1.6.1 client version. 😄 https://preyproject.com/download

[2016-07-08 16:30] #201 closed

[2016-07-08 16:37] javo commented on #197
Fixed on 1.6.1 Prey version.

[2016-07-08 16:37] #197 closed

[2016-07-08 16:39] #160 closed

[2016-07-08 16:50] #194 closed

[2016-07-08 16:53] #189 closed

[2016-07-08 17:01] #173 closed

[2016-07-15 15:39] petremoroca commented on #181
Hi there, I'm having the same issue and i checked https://preyproject.statuspage.io/ page there was no incidents reported.
Any suggestions ?
Thanks

[2016-07-18 21:18] #36 closed

[2016-07-18 21:20] #60 closed

[2016-07-18 21:21] #63 closed

[2016-07-18 21:25] #68 closed

[2016-07-18 21:28] #70 closed

[2016-07-18 21:29] #71 closed

[2016-07-18 21:31] #73 closed

[2016-07-18 21:31] #77 closed

[2016-07-18 21:32] #78 closed

[2016-07-18 21:32] #82 closed

[2016-07-18 21:34] #87 closed

[2016-07-18 21:34] #88 closed

[2016-07-18 21:35] #91 closed

[2016-07-18 21:37] #92 closed

[2016-07-18 21:37] #104 closed

[2016-07-18 21:38] #98 closed

[2016-07-18 21:40] #100 closed

[2016-07-18 21:42] #109 closed

[2016-07-18 21:43] #111 closed

[2016-07-18 21:43] #115 closed

[2016-07-18 21:46] #116 closed

[2016-07-18 21:49] #125 closed

[2016-07-18 21:53] camilaburgos commented on #126
Hi, @cpcallen. Can you please update the version your computer's running to our latest release (**1.6.1**)? Does this version solve the problems or do they keep happening?

[2016-07-18 21:53] #128 closed

[2016-07-18 21:55] #135 closed

[2016-07-18 21:56] #137 closed

[2016-07-18 21:57] #144 closed

[2016-07-18 21:57] #149 closed

[2016-07-18 21:57] #141 closed

[2016-07-18 21:58] #140 closed

[2016-07-18 22:00] #198 closed

[2016-07-18 22:01] #193 closed

[2016-07-18 22:04] #150 closed

[2016-07-18 22:05] #153 closed

[2016-07-18 22:06] #218 closed

[2016-07-18 22:06] #191 closed

[2016-07-18 22:07] #156 closed

[2016-07-18 22:08] #154 closed

[2016-07-18 22:08] #158 closed

[2016-07-18 22:08] #152 closed

[2016-07-18 22:09] #169 closed

[2016-07-18 22:10] camilaburgos commented on #178
Hello, @leeyuentuen, @renanmarks. Are you still having this problem?

[2016-07-18 22:11] camilaburgos commented on #159
Hi, @mhalano, @luzfcb and @muranyia. Are you still having this problem?

[2016-07-18 22:12] #163 closed

[2016-07-18 22:13] #179 closed

[2016-07-18 22:15] #200 closed

[2016-07-18 22:16] #206 closed

[2016-07-18 22:17] #202 closed

[2016-07-18 22:18] mhalano commented on #159
@camilaburgos Version 1.6.1 still don't have the symlink inside /usr/bin.

[2016-07-18 23:50] renanmarks commented on #178
Hi @camilaburgos, yes it is still present. :(

Since last post (on 9/jan) I've upgraded and reinstalled all my system a couple of times and Prey is still only showing only CPU information.

I'm currently using Prey 1.6.1 on my laptop (Debian Sid).

[2016-07-21 23:08] cpcallen commented on #126
It appears that Prey has already updated itself to 1.6.1 - or at any
rate, /usr/local/lib/prey/current exists and points to
/usr/local/lib/prey/versions/1.6.1 which also exists and is non-empty.

Here is the behaviour I observed when I went to
https://panel.preyproject.com/devices/792pul just now:

- It incorrectly reports my machine as "Apple MacBook, OS X Snow
Leopard (10.6.8)
Prey: 1.5.0"; in f

[2016-07-22 19:38] camilaburgos commented on #126
@cpcallen That's fantastic! I'm so glad it did the trick :)
We migrated from the Batch client to Node (0.6.4 to 1.x.x version), so it's no surprise that the automatic upgrade got a little difficult and Prey just stopped working. From now on, the app should be automatically updated every time we release a new version, so you can rest easy!

[2016-07-22 19:38] #126 closed

[2016-07-26 13:28] leeyuentuen commented on #178
yes for me it is still got this problem
on ubuntu 16.04 with version 1.6.1

[2016-07-26 16:09] javo commented on #178
Hi @leeyuentuen, @renanmarks,
I'm reviewing this problem and I could notice that sometimes in linux some information isn't specified, for virtual machines for example. However the case of @renanmarks is specially weird so i'd like to ask you both to run these commands in the terminal `dmidecode` and `ifconfig`, then post it in here. That would be really useful to help me debug this issue.

[2016-07-26 16:53] renanmarks commented on #178
Hello @javo !
Indeed: my system is running in "bare metal", not inside a VM. I've attached the outputs you requested.
Thanks!

[dmi.txt](https://github.com/prey/prey-node-client/files/384333/dmi.txt)
[ifconfig.txt](https://github.com/prey/prey-node-client/files/384334/ifconfig.txt)

[2016-07-26 17:26] camilaburgos commented on #209
New case: https://secure.helpscout.net/conversation/227035406/39952/?folderId=645877

![image001](https://cloud.githubusercontent.com/assets/10212992/17148286/841b088e-5334-11e6-92ed-13ebd19d4bcf.png)

[2016-07-27 15:32] javo commented on #199
Hello @Skoddd, we're very sorry for the delay but we've been with a lot of stuff to care of.
I'm currently reviewing this issue and I'd like to know if you still have it. If that's the case I was wondering if you could help me debug this issue running some commands in the prompt, I have an idea but I need confirmation from somebody who has it.
I hope you can be able to help me.

[2016-07-28 12:57] leeyuentuen commented on #178
[ifconfig.txt](https://github.com/prey/prey-node-client/files/388395/ifconfig.txt)
[dmidecode.txt](https://github.com/prey/prey-node-client/files/388396/dmidecode.txt)

I've hide some information

@javo

[2016-07-28 14:49] javo commented on #178
Awesome guys! Thank you!
I'm gonna be checking this now, I'm counting on having a fix for next release.

[2016-07-31 12:04] karlicoss commented on #219
Same with 1.6.1 and ubuntu 16.04, can't verify the keys, control panel won't connect.

Also, there is some something like that: "GMT Error: Unknown command: undefined" in logs..

[2016-07-31 12:22] karlicoss commented on #219
Quick inspection of the `resp` variable in `verify_keys` function shows that server responds with statusCode: 500, statusMessage: 'Internal Server Error'.

[2016-08-01 14:56] escapone commented on #147
it is impossible to install EL CAPITAN mac on prey, it sais outdated config file all time. Anyone a solution?

[2016-08-01 14:56] escapone commented on #161
it is impossible to install EL CAPITAN mac on prey, it sais outdated config file all time. Anyone a solution?

[2016-08-01 15:10] javo commented on #161
Hello @escapone,
We now got this issue covered but the fix is gonna be available in the next release (1.6.2).
For now please run this command: `sudo chmod -R 755 /usr/local` and then retry the installation.
Please let me know how it went :)

[2016-08-01 19:07] MrPerfection opened #223 "Prey - Unable to reach device."
So for a very long time, Prey has been acting up and being stubborn. Anytime I want to use the alarm, it doesn't work because Prey is "Unable to reach device". It is extremely annoying because what if I actually one day loose my phone and it is not in my house underneath some laundry or something?

It's made it seem unreliable. If you guys have a fix to this, please tell me, because I've been surf

[2016-08-01 19:14] raliste commented on #223
Hi @MrPerfection ,

Thank you for reporting. What type of device are you using? Android or iPhone?

[2016-08-01 19:15] MrPerfection commented on #223
Thanks for the response @raliste!

I'm currently using an LG G Stylo (Android 6.0).

[2016-08-01 19:27] raliste commented on #223
@MrPerfection does other types of actions, such as alarm or lock work properly? if so, make sure you have location services enabled before requesting the device location

[2016-08-01 19:51] qqaisarr commented on #223
@raliste Location is always turned on for my phone. I have to open my phone, then launch Prey from my computer before I can actually use alarm, message, or any feature. If my phone is not right next to me and is sleeping, then I can't access any feature to it. My phone is uncommon, and it usually acts up when I try to do basic things. Maybe I need a new phone? Even if my phone is far away, I can't

[2016-08-02 17:05] escapone commented on #161
GREAT! Works like a charm!

[2016-08-05 01:23] WolfangAukang commented on #45
Hey guys, I can't install it on Korora. This is my lsb_release:

`Distributor ID:	Korora
Description:	Korora release 22 (Selina)
Release:	22
Codename:	Selina`

[2016-08-06 16:43] stakano2 commented on #214
I have the same issue...  My MacBook was stolen yesterday and now it can't be located because Sierra was installed...  Not a happy camper! Says that it last saw it 20 days ago which is around the time it was installed....

[2016-08-07 23:57] explitit commented on #155
Hello guys. we have a big trouble to install prey on Sailfish OS Version 2.0.2.48 (i486 / armv7l)

Early versions of Sailfish OS were supported on the Jolla phone.
No we get the same
Error! Invalid os:   does not exist.

Which information do you need to support the newer versions of sailfish OS?

[2016-08-08 00:03] explitit commented on #155
Do you already have a Prey account?
- yes/no: [yes]
Well hello old friend!
Please type your account's email address.
- email: ex****@*****.***
Well played. Now enter your password.
- pass: ***********
Credentials verified.
Linking device...
Error! Invalid os:  does not exist.

[root@localhost nemo]# lsb_release -a
LSB Version:    :core-3.1-arm:core-3.1-noarch:core-3.2-arm:core-3.2-noarch:core-4.0-

[2016-08-08 00:07] explitit commented on #155
[root@Sailfish nemo]# lsb_release -a
LSB Version:    :core-3.1-ia32:core-3.1-noarch:core-3.2-ia32:core-3.2-noarch:core-4.0-ia32:core-4.0-noarch:desktop-3.1-ia32:des
ktop-3.1-noarch:desktop-3.2-ia32:desktop-3.2-noarch:desktop-4.0-ia32:desktop-4.0-noarch
Distributor ID: #Thisfileiscopiedashw-release(analogoustoos-release)
Description:    # This file is copied as hw-release (analogous to os-release)

[2016-08-10 16:43] explit7 opened #224 "Prey on SailfishOS 2.0.2.48 armv7l / i486"
Hello guys. we have a big trouble to install prey on Sailfish OS Version 2.0.2.48 (i486 / armv7l)

Early versions of Sailfish OS were supported on the Jolla phone.
No we get the same

Error! Invalid os: does not exist.

Which information do you need to support the newer versions of sailfish OS?

Here what the lsb-release -a gives out on a
## Jolla Phone JP-1501 / Fairphone2 with Sailfish 2.0.2.48

[2016-08-13 02:50] Grigsby2 commented on #155
I have the same problem on openSUSE Leap 42.1 (which is not really an obscure distribution).

Prey output:

  PREY 1.3.9 spreads its wings!
  Current time: Fri Aug 12 2016 22:47:07 GMT-0400 (EDT)
  Running with PID 18298 as root over Node.js v4.4.5 on a x64 linux system (4.1.27-27-default)

     info Sat, 13 Aug 2016 02:47:07 GMT [triggers] Watching: connection, network, power
     info Sat, 13 Au

[2016-08-13 10:56] explitit commented on #155
Someone from prey need to update the program to recognize our distros. without help from prey, that would be difficult.... :-(

[2016-08-15 16:30] victortxa opened #225 "Prey 1.6.1 in Ubuntu 14.04 unable to reach device"
After installing prey 1.6.1 via `sudo dpkg -i prey_1.6.1_amd64.deb`, then:

I entered my account info in the GUI and the laptop is added in my Prey account. However, Prey is not able to get the location of it.

[2016-08-20 12:48] deeplypuzzled commented on #161
Just to confirm that I have had the same probem on 1.6.1 and lemavri's/javo's fix (I assume the chmod) fixed it for me. Many thanks.

[2016-08-20 20:12] jonwreed commented on #161
Is the 1.6.2 release where this issue is fixed out yet? If not, any idea of timeframe? Thank you.

[2016-08-22 09:42] explitit commented on #94
Please Add new Sailfish Versions to supported OS list:

https://github.com/prey/prey-node-client/issues/224

[2016-08-22 13:25] javo commented on #161
Hi @deeplypuzzled and @jonwreed,

Thanks for your comments, the new release with the fix for this issue is gonna be released this week. We're gonna let you know as soon as it's available.

[2016-08-22 14:46] javo commented on #94
Hello @explitit,
We just have added Sailfish to the list of the supported OS's. Could you please verify if it's working properly and let us know how it goes? Thanks!

[2016-08-22 15:17] explitit commented on #94
Thanks, it works on the
Jolla Tablet JT-1501 with
Sailfish OS 2.0.2.48 (i486)
now, but not on
Fairphone 2 with
Sailfish 2.0.2.48 (armv7hl)
I get the same
Invalid os: does not exist.
Maybe you need additional information?

[2016-08-22 15:21] explitit commented on #94
lsb_release -ri gives me that:

Distributor ID: #Thisfileiscopiedashw-release(analogoustoos-release)
Release:        n/a
[root@Sailfish nemo]#

[2016-08-22 15:23] explitit commented on #94
lsb_release (without -ri) gives me that:

LSB Version:    :core-3.1-arm:core-3.1-noarch:core-3.2-arm:core-3.2-noarch:core-4.0-arm:core-4.0-noarch:desktop-3.1-arm:desktop-3.1-noar
ch:desktop-3.2-arm:desktop-3.2-noarch:desktop-4.0-arm:desktop-4.0-noarch
[root@Sailfish nemo]#

[2016-08-22 16:06] javo commented on #94
@explitit, could you run the same command in your Jolla Tablet too?
I believe that you're not able to install Prey in your device because that OS it's a modified version from the original and in order to achieve the installation you could directly modify the Kernel or I could parse this step in the client specially for this case, but I have to review this in more detail.

[2016-08-22 16:18] explitit commented on #94
Hm strange. This is the output from the Jolla Tablet:

lsb_release -ri
Distributor ID: #Thisfileiscopiedashw-release(analogoustoos-release)
Release:        n/a
[root@Sailfish nemo]# lsb_release
LSB Version:    :core-3.1-ia32:core-3.1-noarch:core-3.2-ia32:core-3.2-noarch:core-4.0-ia32:core-4.0-noarch:desktop-3.1-ia32:des
ktop-3.1-noarch:desktop-3.2-ia32:desktop-3.2-noarch:desktop-4.0-ia32:desktop-4

[2016-08-22 16:24] explitit commented on #94
Ok. now i tested it again. i removed the Jolla Tablet from the prey add tryed to add it again from the comman line.
And it didn't work!
it worked the first time because i tryed to add the device with the android app!
Adding a device from the command line doesn't work on tablet and on phone!

[2016-08-24 17:45] explitit commented on #94
Any news javo?

Thanks

[2016-08-24 17:47] explitit commented on #224
Please add Sailfish 2.0.2.48 to the know OS

lsb_release -ri :

Distributor ID: #Thisfileiscopiedashw-release(analogoustoos-release)
Release: n/a
[root@Sailfish nemo]#
@explitit
explitit commented 2 days ago

lsb_release

LSB Version: :core-3.1-arm:core-3.1-noarch:core-3.2-arm:core-3.2-noarch:core-4.0-arm:core-4.0-noarch:desktop-3.1-arm:desktop-3.1-noar
ch:desktop-3.2-arm:desktop-3.2-noarch:deskto

[2016-08-24 17:56] javo commented on #94
Hey @explitit
Sorry, not yet. I'll let you know as soon as we got something.

[2016-08-24 18:04] explitit commented on #94
Thanks for the Info, javo. I will wait. Just say, if i can help you
anyhow....

Thanks

--
Kind regards / Mit freundlichen Grüßen
Pawel Radomychelski
ExPLIT IT Solutions

On 24 August 2016 at 19:56, javo <notifications@github.com> wrote:

[2016-08-25 19:30] camilaburgos opened #227 "Location is being obtained by Geoip instead of Wi-Fi possition system on Windows"
The problem happened to one customer running Windows 10.

After running **netsh wlan show all**, several Wi-Fi networks showed up. She's also not connected via Ethernet, but Wi-Fi.

She also tried disabling the native **Location Services** from Windows. Nothing happened.

References:
- https://secure.helpscout.net/conversation/241055765/40972/?folderId=131892

[2016-08-26 03:26] BtpPrograms opened #228 "Prey GUI items do not open Arch Linux 64 bit"
I'm running bspwm and systemd, let me know if you need any other specific information about my system or my issues.

I've had a few issues with Prey, both when installing through the AUR package and when installing through npm directly. I ran "prey config hooks post_install" and "prey config account setup." When I run "prey config gui" I get the following output.

[code]

Nothing happens after thi

[2016-09-01 19:03] javo commented on #58
Fixed on new Prey version 1.6.2 :)

[2016-09-01 19:05] javo commented on #161
The new release 1.6.2 is now available with the fix to this issue :)

[2016-09-01 20:44] xpoft opened #234 "Unable to install. Prey 1.6.2. Windows 8.1 x64"
`
=== Logging started: 01.09.2016  23:41:52 ===
Action start 23:41:52: INSTALL.
Action start 23:41:52: FindRelatedProducts.
Action ended 23:41:52: FindRelatedProducts. Return value 1.
Action start 23:41:52: SetSetApiKeyWithoutValidation.
Action ended 23:41:52: SetSetApiKeyWithoutValidation. Return value 1.
Action start 23:41:52: SetValidateAndSetApiKey.
Action ended 23:41:52: SetValidateAndSetApiK

[2016-09-01 21:12] javo commented on #234
Hey @xpoft, thank you for let us know.
We've had this issue for a while now and for this version i manage to solved one kind of it's behavior (the one I could reproduce). Comparing both of the logs I can tell that the issue is almost the same. I'm gonna check it again and I'll let you know as soon I have a solution.
Sorry for the inconvenience.

[2016-09-01 21:27] benad commented on #234
Looks like you only packaged Mac binaries of sqlite3 in your Windows packaging: https://gist.github.com/benad/ab0f7d9512cf544c78b5a5e5f1746c9f . This makes the silent updater run in an endless loop of attempting to launch the "prey" process through node, consuming all the CPU on every Windows machine.

[code]

I downloaded prey-linux-1.6.2-x86.zip, and in it I found the following:

[code]

[2016-09-01 21:36] javo commented on #234
Hi @benad, your Windows machine is x64 or x86?

[2016-09-01 21:37] benad commented on #234
Windows 10 x64

[2016-09-01 21:38] javo commented on #234
So, did you download the prey client 1.6.2 for x64?

[2016-09-01 21:39] benad commented on #234
It self-updated from 1.6.1 to 1.6.2, and the service kept in a loop of crashing and attempting to restart the node process. The log file remained empty.

[2016-09-01 21:42] javo commented on #234
Could you please uninstall prey from your machine and download the x64 version from https://github.com/prey/prey-node-client/releases and re-install it?
Let me know how it goes please.
I also notice that i had a mistake uploading the zip linux packages, i'm gonna solve that right now.

[2016-09-01 21:47] benad commented on #234
The x64 version installed without problem. It should be noted that your web site only offered the 32 bit version http://preyproject.com/download , so my machine was already running 1.6.1 in 32 bit without problem and started crashing continuously after the selfupdate.

[2016-09-01 21:52] javo commented on #234
Yes, I'm gonna fix that.
Thanks for your help @benad

[2016-09-02 05:51] electronicsguy commented on #58
I don't know why this has been closed. With v1.6.3, I am still getting an error if you choose a directory other than "C:\Prey". It not says "Something went wrong when installing Prey. Please make sure no other installations are ongoing."

Error log:

Action start 11:15:59: INSTALL.
Action start 11:15:59: FindRelatedProducts.
Action ended 11:15:59: FindRelatedProducts. Return value 1.
Action start

[2016-09-02 13:25] javo commented on #58
Hi @electronicsguy, I just re-open the issue.
I noticed that this problem occurs in different ways

This is the one I've been able to replicate and solved:

[code]

I'm pretty sure that the others are in the same spot, so i'm gonna be trying to solved it. To do that i might need some help trying out some other windows installation packages. So I hope I can count with your help and other users with

[2016-09-02 14:55] electronicsguy commented on #58
Sure. Let me know what you need.

[2016-09-03 14:53] Mechi1 opened #236 "v1.6.2 broken? Not updating to 1.6.3"
Prey 1.6.2 on Windows 8.1 x64 (auto updated from earlier version) doesn't work (read issue #234, benads reply, same errorcode) and won't update to 1.6.3. Only indication for me something was wrong was the mail from Prey about computer not calling in. I'm guessing I'm not the only one. How many now have v1.6.2 that won't auto update and is silent about not working?

Also, install file for v1.6.3 x6

[2016-09-03 17:41] pimientadaniel commented on #60
Suddenly 2 days ago Prey stopped to manage to got my PC position. At the same time I saw this node.exe process consuming abnormal CPU... I finished by relating the two events. I tried with Google Maps and it does manage to locate my PC by WIFI. I do see there is only my wifi with a clear signal at my place; is that the reason why Prey cannot locate anymore? Could it be a change of my ISP router pa

[2016-09-03 17:55] javo commented on #60
Hi @pimientadaniel,
We got a problem with the 1.6.2 client version release. If the version you have installed doesn't update automatically to 1.6.3, you need to uninstall Prey and re-install it with the new version.
Please let me know how it goes.

[2016-09-03 18:53] pimientadaniel commented on #60
Thanks for your fast and professional reaction. It took me some struggles :-) but it worked. For your information: 1) it would not download from Mozilla (I did was signed in) but it did from IE. 2) The installation first failed. I hand deleted as much as i could of what remained in directory after uninstall and the second shot worked. Thanks again.

[2016-09-04 20:03] jonwreed commented on #161
Thanks - the new release solved the issue for me. Took a while but appreciate you handling this, very happy my most important laptop now back online. Thx.

[2016-09-06 00:16] hash-bang commented on #124
Has there been any movement on this? Installing Prey via NPM is much easier for me but there is no way to register Prey as an init script with the current post_install scripts.

[2016-09-06 02:49] bhovell2 commented on #124
Hi, Matt ...

Speaking only for myself, I've successfully installed the most
recent version available on Ubuntu 16.04 which is running on my
System76 laptop. Three times over the past several months.

Note the version of prey currently installed is marked '0.6.2' in
the version file '0.6.2-1.1' when I do an apt search on it, but the
file name is 'prey_1.6.3_i386.deb'.  So don't ask me what the
ver

[2016-09-07 20:39] jerryhall opened #238 "PP SSL broken"
When clicking on the update link in an email I got from you today the page returns an expired SSL error in Chrome. Have you checked out LetsEncrypt.org? Great service. Thanks again!

[2016-09-07 20:58] javo commented on #238
@jerryhall , the link is now working properly, thank you for let us know.

[2016-09-07 20:58] #238 closed

[2016-09-08 03:42] hash-bang commented on #124
I had a few problems with the .deb - for some reason its other dependencies weren't satisfied even though they were all installed.

In the end I grabbed the tarball, copied into /usr/share and wrote a quick script to run the binary in a nohup session.

Thanks anyway.

[2016-09-10 13:23] corporate-gadfly commented on #214
Any progress on this? macOS Sierra is now GM candidate.

I'm running macOS 10.12 (16A320) on a MacBookPro11,3.

Here's a pastebin of a command that I ran. I exited after a few minutes as it wasn't going anywhere.
http://pastebin.com/jf4DsntH

What can we do to help further?

[2016-09-10 18:54] jbmorris289 commented on #199
I am also having this error, and I'm on Windows XP:
![screenshot_48hf](https://cloud.githubusercontent.com/assets/22121073/18412811/e4fd3030-775d-11e6-9744-2cf7bc5c2ecc.png)
I am on version 1.6.3 with this error.

[2016-09-10 19:06] javo commented on #199
Hey @jbmorris289,
We believe this problem occurs because there's  a problem with the system files on your pc.
Try running the command prompt, with administrator provileges, and use this command: 'sfc /scannow'. The process can take a while but should be enough to repair your system files.
Then try installing Prey again.
Let me know how it goes :)

[2016-09-11 21:00] jbmorris289 commented on #199
@Skoddd OK, I've tried sfc /scannow, and I get this:
![snip41](https://cloud.githubusercontent.com/assets/22121073/18420390/6a0f52e2-7837-11e6-8ca6-95b71505a0a7.jpg)
I don't have an XP professional CD, I have a multilingual CD from MSI with XP Home. This XP Computer is a Netbook, So I had to convert it to ISO and use ImDisk to mount it.

[2016-09-12 13:52] javo commented on #199
I did a little research and the only thing I can suggest you for now is to get an XP Professional ISO that you can mount it using ImDisk and then try to run the command again.
I'll let you know if I can came up with another solution.

[2016-09-12 14:49] camilaburgos opened #239 "If any of StickyKeys, High Contrast or MouseKeys accessibility functions are enabled, pressing the appropriate key combination will allow the user to access the taskbar when a Windows device is locked (HS: lock close program)"
1. From there, it's possible to right-click the **Lock application** and select **Close Program**. This then gets the user back to the Desktop and one is able to use the computer normally.
2. Ordinary applications such as Microsoft Word are able to display dialogs such as "_Do you want to save this file_?" when a user attempts to close the program. This may be a way to detect this behavior and che

[2016-09-14 08:16] fradamek commented on #214
Any updates on this? Is there any version of Prey that may work for macOS Sierra? How long before there is a solution?

[2016-09-14 12:59] javo commented on #214
I'm currently reviewing the issue, yesterday I install Prey on MacOS 10.12 Sierra and it worked fine.
@fradamek could you paste your prey.log file? Maybe there's some clue to solve this.
I'll let you guys know if get something.

[2016-09-14 13:12] corporate-gadfly commented on #214
@javo what about the pastebin from this comment https://github.com/prey/prey-node-client/issues/214#issuecomment-246111565?

[2016-09-14 13:22] javo commented on #214
@corporate-gadfly since saturday we're been having some connection issues. Everything is running normal now after some system changes. Could you try running the prey client again and tell me if it's working for you?

[2016-09-14 13:39] corporate-gadfly commented on #214
Thx for replying.

After uninstalling by following
[code]
and reinstalling 1.6.3, I can report that the device is being seen successfully by prey. It's possible that removing `/etc/prey` helped.

[2016-09-14 13:43] javo commented on #214
Great! Thank you for let us know :) It's probably because we got a service down, now everything should be working fine.

[2016-09-17 20:23] corporate-gadfly commented on #214
There's something about the macOS Sierra upgrade process which breaks prey. Today, I upgraded 3 machines from 10.12 16A320 to 10.12 16A323 and on all three machines, I had to uninstall and install before prey worked.

HTH.

[2016-09-18 01:44] jbmorris289 commented on #199
Sorry for the late reply.
Well, I tried that, got the same message.

[2016-09-18 08:30] fradamek commented on #214
Prey is back up and running for me after the Info from Corporte. 

From: javo <notifications@github.com>
Reply: prey/prey-node-client <reply@reply.github.com>
Date: September 14, 2016 at 4:43:50 PM
To: prey/prey-node-client <prey-node-client@noreply.github.com>
Cc: fradamek <fradamek@gmail.com>, Mention <mention@noreply.github.com>
Subject:  Re: [prey/prey-node-client] Prey doesn't work on macOS 1

[2016-09-22 11:42] karlicoss opened #241 "Messages are not shown on locked screen"
If you lock your device's screen remotely from the web panel (natural thing to do first when your device is missing), and then send a message on it (e.g. with your contact info), this message will not be shown until the device is unlocked (which basically means, that someone who found your device while it's locked has no idea who to return it to). Doesn't it make sense to display messages on the t

[2016-09-22 12:40] wachunei commented on #214
I updated to the final release of Sierra from the macOS App Store and prey is completely gone from my machine, found out because of a mail I got saying my mac has been gone.

[2016-09-22 12:56] corporate-gadfly commented on #214
@wachunei : From what I can tell, Prey is still there after the Sierra upgrade, but is not able to connect any more. Following instructions from https://github.com/prey/prey-node-client/issues/214#issuecomment-247015644, you should be able to get it back.

Still waiting to hear something official from the prey developers.

[2016-09-22 13:15] wachunei commented on #214
@corporate-gadfly: I did use the installer again and it went back online. This is like the most user-friendly solution to common non-geek users so far.

[2016-09-22 15:49] shinerweb opened #242 "Removal of 'old' versions"
Not a major issue, but perhaps a feature request as such.
Finally got round to upgrading 1.6.2 to 1.6.3 and noticed within the C:\Windows\Prey\versions folder that basically every previous version of Prey still exists.  Ok, HDD's are big these days but I'm not too keen on the fact I've got 17 previous versions comprising of 23,340 odd files (albeit only around 236Mb) still sat on my machine which

[2016-09-22 16:04] shinerweb commented on #242
sheesh, should have waited until I had actually installed 1.6.3 :(
No previous versions having run the Windows installer for 1.6.3
I'll go climb back in my hole... apologies...

[2016-09-22 16:23] javo commented on #214
Hey everyone,
We just confirmed that upgrading to MacOS Sierra from a previous version causes Prey to stop working.
Now, the problem is that the OS upgrade deletes de prey user in charge of allowing the software to run.

In the meantime there's 2 options to fix this:
- One is just reinstalling Prey and it's gonna work fine.
- The other one is to create the prey user following the next commands, an

[2016-09-29 07:23] nieldk commented on #224
I figured a workaround out. The issue is really not with Prey, but with Jolla  lsb_release files are not correct

specifically, we need to change the file

**/etc/hw-release**

by adding this line to the top of the file

**Mer release 02011 Jolla**

This will allow to setup the account and activate it on Prey servers

[2016-10-15 15:41] MiralDesai opened #243 "Locking a device does not show if a user is in a fullscreen app"
Just tested this on Mac OS Sierra. In Chrome full screen. I locked my device and the chrome menu bar at the top went white, so something happened. I was unable to use the swipe left and right between spaces anymore but I was still fully able to stay within chrome and use every part of it. I could bring the system menu bar down too from the top.

I then took chrome out of fullscreen mode and sudden

[2016-10-17 01:46] danlevity commented on #214
javo, the solutions in the previous post do not work with the released Sierra 10.2.  I can create the user prey using the shell scripts, and reinstal prey on my mac, but it is not detected by Prey.  I have replicated this on four computers running Sierra.

[2016-10-17 12:50] javo commented on #214
Hi @danlevity,
I have a question.. did you have installed prey before the upgrade to Sierra?
It should be enough only to run the script or reinstall prey, but no both.
Could you run `sudo /usr/local/lib/prey/current/bin/prey config hooks pre_uninstall && sudo rm -rf /usr/local/lib/prey /var/log/prey.log /etc/prey`, then install prey again?. If it's still not working run this command `id -g prey` a

[2016-10-24 13:35] TCattd commented on #214
Reinstalled Prey (1.6.3) on top of the current installation (from before Sierra upgrade) didn't do it for me. Prey still couldn't reach my device.

Uninstalling it using @javo's instructions ( https://github.com/prey/prey-node-client/issues/214#issuecomment-254198054 ), restarting (just in case) and then reinstalling Prey did the trick for me.

[2016-10-30 10:07] marc24 commented on #214
Hi @javo,
Do you plan to push an automatic update soon ?
Some of my computers are abroad and i can't reinstall prey or create the prey user by myself...
Thanks for your answer

[2016-10-31 14:21] muranyia opened #245 "Same upgrade happens every time (Ubuntu x64)"
Every time prey is started, the same upgrade happens:
[code]

[2016-10-31 14:27] muranyia opened #246 "Wrong crontab entry (Ubuntu)"
I've been using Prey for some years and meanwhile upgraded Prey as well as Ubuntu many times.
I've noticed that in /var/log/syslog a reference to a non existing script occurs every 20 minutes (and it seems there is no entry for an existing one).
[code]
I the Control Panel, the device is shown as UNAVAILABLE.

[2016-11-04 23:36] jorgearq00 commented on #214
Gracias Javo, tu patch funcionó bien!

[2016-11-10 18:39] reedog117 opened #247 "Error! self signed certificate in certificate chain"
I get this error when attempting to install 1.6.3 and set it up with an existing user account.  The self-signed certificate is our company's CA so we can go out our web proxy without any issues. Is there a way to allow self-signed certificates in the chain?

[2016-11-10 21:25] corporate-gadfly commented on #214
Hi Prey team,

Good work by being proactive and sending out an email to possibly affected prey clients. I'm referring to the email titled "macOS Sierra update broke Prey… but you can easily fix it!" that I received today.

👍

[2016-11-14 11:03] HerbSomersal opened #248 "Device missing - macos sierra"
Only happened since the Sierra upgrade. Am using the latest version (1.6.3). Followed instructions from this thread [https://github.com/prey/prey-node-client/issues/214](url) and removed then re-installed. No joy, so ran the patch @javo  posted at [http://prey.io/AwiskwLRETw](url). Still no joy. Result of running patch is thus:
![prey patch](https://cloud.githubusercontent.com/assets/23451342/2026

[2016-11-20 21:50] fid509 opened #249 "openSUSE Leap 42.2 invalid OS error message"
I get this error when trying to authorize:

This is the output of lsb-release -a: